<ion-view class="bg" cache-view="false">
    <ion-header>
        <div class="bar bar-header hdr">
            <button class="button button-icon logo-btn icon"><img src="img/icon-patient.png" style="width: 75px;"></button>
            <div class="h1 title">{{header}}</div>
            <button class="button button-icon icon" ng-click="openPopover()" style="position: absolute; right: 0;"><img class="icn-header" ng-src="{{currImage}}"></button>
            <script id = "popover.html" type = "text/ng-template">
                <ion-popover-view style="left: 87%;">
                    <ion-content>
                        <ion-list>
                            <ion-item ng-click="loginDocUser()">
                                {{loginPop}}
                            </ion-item>
                            <ion-item ng-click="signUpDocUser()">
                                {{signupPop}}
                            </ion-item>
                        </ion-list>
                    </ion-content>
                </ion-popover-view>
            </script>
        </div>
    </ion-header>
    <ion-content class="has-header">
        <div class="login-content m-b-20">
            <ion-slide-box class="custom-slider" on-slide-changed="slideHasChanged($index)">
                <ion-slide ng-repeat="data in sliderArr">
                    <div class="slider-img">
                        <img ng-src="{{data.img}}">
                    </div>
                </ion-slide>
            </ion-slide-box>
            <h2 class="heading">{{currRole}}</h2>
            <div class="form-block icn-left">
                <div class="list">
                    <div class="left-p m-b-20">
                        <div class="nine-one">+91</div>
                        <div class="item item-input">
                            <input class="mob" id="mobileNo" type="tel" placeholder="Mobile No." ng-model="user.mobile" maxlength="10">
                        </div>
                    </div>
                    <div class="item item-input">
                        <input class="locklogin" id="paswrd" type="password" placeholder="Password" ng-model="user.password" maxlength="20">
                    </div>
                </div>
                <div class="remember-forgot">
                    <div class="checkbox cus-check">
                        <!--label class="myCheckbox">
                            <input type="checkbox" name="test" ng-checked="rmbrMe" ng-click="rembrMe()">
                            <span></span></label>
                        <div class="checkbox-text">Remember me</div-->
                    </div>
                    <div class="forgot-link inline" ng-click="forgetPass()">
                        <a>Forgot Password?</a>
                    </div>
                </div>
                <button class="button button-block btn-green" ng-click="login()"> LOGIN </button>
                <button class="button button-block btn-blue" ng-click="signup()"> CREATE AN ACCOUNT </button>
            </div>
        </div>
    </ion-content>
</ion-view>
