<ion-view class="bg" cache-view="false">
  	<ion-header>
	  	<div class="bar bar-header hdr">
	      	<button class="button button-icon icon ion-android-arrow-back" ng-click="myGoBack()"></button>
	      	<div class="h1 title">Weight</div>      
	   	</div>
  	</ion-header>
  	<ion-content class="has-header" delegate-handle="weightList">
	    <div class="height-main">
			<div class="timeline-a">
	        	<div class="patient-block">
	          		<div class="item">
	            		<div class="inline">
	                		<div class="side-img">
	                    		<img class="img-p" ng-src="{{userimage}}">
	                		</div>
	            		</div>
	            		<div class="inline patient-a" style="text-transform: capitalize;">{{userName}}</div>
	            		<!--button class="button btn-outline-share" ng-if="shareBtn">Share <img class="share-b" src="img/share-b.png"></button-->
	            		<button class="button btn-outline-share" ng-if="moreBtn" ng-click="openShareOpt()" style="position: absolute; right: 0;"><i class="ion-android-more-vertical"></i></button>
			            <script id = "popover.html" type = "text/ng-template">
				            <ion-popover-view style="left: 87%; top:20%; min-height: 135px;">
				                <ion-content>
				                    <ion-list>
				                        <ion-item ng-click="actionPerform('Delete')">Delete</ion-item>
				                        <ion-item ng-click="actionPerform('SelectAll')">Select All</ion-item>
				                        <ion-item ng-click="actionPerform('DeselectAll')">Deselect All</ion-item>
				                        <!--ion-item ng-click="actionPerform('Share')">Share</ion-item-->
				                    </ion-list>
				                </ion-content>
				            </ion-popover-view>
				        </script>
	          		</div>
	        	</div>
	      	</div>
			<div class="heightblk-2">
				<div class="leftpart" style="width:70%;">
					<div class="ft-view item-input item-stacked-label" ng-if="settingData.weightUnit=='Kg'">
						<input type="text" placeholder="kg" ng-model="user.kg" sg-max-length sg-val="4">
					</div>
					<div class="ft-view item-input item-stacked-label" ng-if="settingData.weightUnit=='Lbs'">
						<input type="text" placeholder="lbs" ng-model="user.weightLbs" sg-max-length sg-val="8">
					</div>
					<div class="unit-lbl">
						{{settingData.weightUnit}}
					</div>
				</div>
				<div class="rightpart" style="width:30%; text-align:right; padding-right:5px;"> 
					<a ng-click="addNotes()" ng-if="notesLbl">Notes</a>
					<a ng-click="addNotes()" ng-if="editNotesLbl">Edit notes</a>
				</div>
			</div>
			<div class="heightblk-3 padding brder-fr-chrt">
				<div class="row">
	                <div class="col col-75 date col-center">
                        <input type="text" class="date-time_bp-P" ng-model="user.recordate" mobiscroll-datetime="settings_date" mobiscroll-instance="demo" placeholder="Date &amp; Time" readonly>
                    </div>
	                <div class="col col-25 record right col-center">
	                	<button class="button btn-green-share" ng-click="addWeightRecord()" style="padding: 0 12px !important;" ng-disabled="userInfo.accessStatus!=1">Record</button>
	                </div>
	            </div>
			</div>
			<div class="heightblk-4" ng-if="weightData.length!=0">
	            <div id="chart_div" style="width: 100%; height: 490px;"></div>
			</div>
			<div class="row">
	            <div class="col col-20 quick-fltr" ng-click="quickFilter('1wk')" ng-class="{'actQuickFilter':oneWFilter}">1 wk</div>
	            <div class="col col-20 quick-fltr" ng-click="quickFilter('1mo')" ng-class="{'actQuickFilter':oneMFilter}">1 mo</div>
	            <div class="col col-20 quick-fltr" ng-click="quickFilter('3mo')" ng-class="{'actQuickFilter':threeMFilter}">3 mo</div>
	            <div class="col col-20 quick-fltr" ng-click="quickFilter('6mo')" ng-class="{'actQuickFilter':sixMFilter}">6 mo</div>
	            <div class="col col-20 quick-fltr" ng-click="quickFilter('1yr')" ng-class="{'actQuickFilter':oneYFilter}">1 yr</div>
	        </div>
	        <div class="btn-t-block btn_CR m-t-15 clr-w">
	            <button class="button btn-green-share" ng-click="clearAllFilters()">Clear Filter</button>
	        </div>
			<div class="heightblk-5 form-block datemanat-n">
				<div class="row">
				  	<div class="col col-center">
	              		<label>From Date:</label>
	              		<div class="borbottom-ns item item-input">
	              			<input type="text" class="date-time_picker_from" ng-model="user.fromDate" mobiscroll-datetime="settings_from" mobiscroll-instance="demo" placeholder="Select Date" readonly>
	              		</div>
				  	</div>
				  </div>
				<div class="row">
				  	<div class="col col-center">
	              		<label>To Date:</label>
	              		<div class="borbottom-ns item item-input">
	              			<input type="text" class="date-time_picker_to" ng-model="user.toDate" mobiscroll-datetime="settings_to" mobiscroll-instance="demo" placeholder="Select Date" readonly>
	              		</div>
				  	</div>
				</div>
			</div>
			<div class="heightblk-6">
			<div class="top">
				<div class="row">
					<div class="col col-50  col-center">Date</div>
					<div class="col col-50  col-center" ng-if="settingData.weightUnit=='Kg'">Weight (kg)</div>
					<div class="col col-50  col-center" ng-if="settingData.weightUnit=='Lbs'">Weight (lbs)</div>
				</div>
			</div>
			<div class="bottom" ng-repeat="weight in weightData track by $index" style="border-bottom: 1px solid #b9b4b4;" id="{{weight.weightId}}">
				<div class="row viewdata-s odd" ng-if="$index%2==0" on-hold="onHold(weight,$index)" on-tap="onTap(weight,$index)" ng-class="{'actSel_row':weight.selected}">
					<div class="col col-50  col-center" style="padding-bottom:0px;">
						<div class="circle-s blue-circle">
							<div class="view-row date">{{weight.recordDate | date:'dd'}}</div>
							<div class="view-row month">{{weight.recordDate | date:'MMM'}}</div>
							<div class="view-row year">{{weight.recordDate | date:'yyyy'}}</div>
						</div>
						<div class="date-time-show">{{weight.recordDate | date:'hh:mm a'}}</div>
					</div>
					<div class="col col-50  col-center">
						<div class="w-size" ng-if="settingData.weightUnit=='Kg'">{{weight.kg}} kg</div>
						<div class="w-size" ng-if="settingData.weightUnit=='Lbs'">{{weight.lbs}} lbs</div>
						<div class="see-notes" ng-if="weight.notes!=''" ng-click="weightNotes(weight.notes)" style="text-decoration: underline;">See Notes</div>
					</div>
				</div>
				<div class="row viewdata-s even" ng-if="$index%2!=0" on-hold="onHold(weight,$index)" on-tap="onTap(weight,$index)" ng-class="{'actSel_row':weight.selected}">
	                <div class="col col-50  col-center" style="padding-bottom:0px;">
						<div class="circle-s green-circle">
							<div class="view-row date">{{weight.recordDate | date:'dd'}}</div>
							<div class="view-row month">{{weight.recordDate | date:'MMM'}}</div>
							<div class="view-row year">{{weight.recordDate | date:'yyyy'}}</div>
						</div>
						<div class="date-time-show">{{weight.recordDate | date:'hh:mm a'}}</div>
					</div>
					<div class="col col-50  col-center">
						<div class="w-size" ng-if="settingData.weightUnit=='Kg'">{{weight.kg}} kg</div>
						<div class="w-size" ng-if="settingData.weightUnit=='Lbs'">{{weight.lbs}} lbs</div>
						<div class="see-notes" ng-if="weight.notes!=''" ng-click="weightNotes(weight.notes)" style="text-decoration: underline;">See Notes</div>
					</div>
				</div>			
			</div>
		</div>
  	</ion-content>
</ion-view>
