<ion-view class="bg" cache-view="false">
    <ion-header>
        <div class="bar bar-header hdr">
            <button class="button button-icon icon ion-android-arrow-back" ng-click="myGoBack()"></button>
            <div class="h1 title">Upload</div>
        </div>
    </ion-header>
    <ion-content class="has-header">
        <div class="share-to-block upload-page">
            <div class="repeat-block">
                <div class="form-block list">
                    <div class="document-block">
                        <label class="item item-input item-select bg0">
                            <select class="custom-select" ng-model="user.selCategory">
                                <option value="selCat">Select Category</option>
                                <option value="Prescription">Prescription</option>
                                <option value="Scan">Scan</option>
                                <option value="Reports">Reports</option>
                                <option value="Others">Others</option>
                            </select>
                        </label>
                    </div>
                    <div class="upload-d-block">
                        <label class="item item-input">
                            <input type="text" placeholder="Provider" ng-model="user.providerName" ng-keyup="searchProvider(user.providerName,$index)" style="text-transform: capitalize;" sg-max-length sg-val="30" ng-blur="providerBlurFunc()">
                        </label>
                        <ion-list class="allergy-list pro_lst" ng-if="providerFiltrData.length!=0 && user.providerName.length>1">
                            <ion-item ng-repeat="data in providerFiltrData" ng-click="setProviderData(data)" style="text-transform: capitalize; margin: 0 !important;">{{data.name}}</ion-item>
                        </ion-list>
                        <div class="upload-item" ng-repeat="data in healthCondArr">
                            <label class="item item-input">
                                <!--div class="health_condition-txt">Health Condition</div-->
                                <input type="text" placeholder="Health Condition" ng-model="data.name" ng-keyup="searchHealthCond(data.name,$index)" ng-focus="helCondFocusFunc()" ng-blur="helCondBlurFunc()">
                            </label>
                            <ion-list class="allergy-list upld-ion" ng-if="helCondFiltrData.length!=0 && $index+1==healthCondArr.length">
                                <ion-item ng-repeat="obj in helCondFiltrData" ng-click="setHelCondData(obj,data)" style="margin:0 !important;">{{obj.name}}</ion-item>
                            </ion-list>
                            <img class="cam_icn" src="img/plus_icn_blue.png" ng-if="$index==healthCondArr.length-1" ng-click="addOtherHealthCond()" style="width: 35px;">
                            <i class="icn_allergy_rightAA ion-minus-circled" ng-click="removeRecord($index)" ng-if="$index!=healthCondArr.length-1"></i> 
                        </div>
                        <div class="upload-item">
                            <label class="item" ng-click="openPDF()">
                                <div class="upload-doc">Upload</div>                                
                            </label>
                            <!--label for="file">Select File</label>
                            <input type="file" ng-model="user.fileObj" onload="onLoad" name="file" base-sixty-four-input required maxsize="500" accept="application/pdf"-->      

                            <img class="cam_icn" src="img/cam_icn.png" ng-click="openOptions()" style="width: 35px;">
                        </div>
                        <div class="image-center" ng-if="docPathArr.length!=0">
                            <div class="doc-a" ng-repeat="data in docPathArr">
                                <div class="doc-title"><i class="ion-document-text"></i>{{data.oldFileName}}</div>
                                <div class="cros-icn-a" ng-click="removeDoc($index)"><i class="ion-close-circled"></i></div>
                            </div>
                        </div>
                        <div class="image-center" ng-if="gridImageArr.length!=0">
                            <div class="image-g" ng-repeat="data in gridImageArr">
                                <img ng-src="{{data.img}}" style="width: 100%;">
                                <div class="cros-icn-a" ng-click="removeImg($index)"><i class="ion-close-circled"></i></div>
                            </div>
                        </div>
                        <label class="item item-input">
                            <input type="text" placeholder="Title" ng-model="user.title" sg-max-length sg-val="30">
                        </label>
                        <div class="start-date">
                            <div class="start-l date-pic-upload" style="width: 100%;">
                                <input type="text" class="rept-date" ng-model="user.reportDate" mobiscroll-datetime="settings" mobiscroll-instance="demo" placeholder="Date &amp; Time of report" readonly>
                            </div>
                        </div>     
                        <label class="item item-input">
                            <input type="text" placeholder="Notes" ng-model="user.notes" sg-max-length sg-val="50">
                        </label>
                    </div>  
                    <div class="upload-btn-a1">
                        <button class="button button-block btn-green" ng-disabled="userInfo.accessStatus!=1" ng-click="uploadData()"> Upload </button>
                    </div>                    
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
