@font-face {
    font-family: 'ITCKabelStdBold';
    src: url('../fonts/ITCKabelStdBold.eot');
    src: url('../fonts/ITCKabelStdBold.eot') format('embedded-opentype'),
         url('../fonts/ITCKabelStdBold.woff2') format('woff2'),
         url('../fonts/ITCKabelStdBold.woff') format('woff'),
         url('../fonts/ITCKabelStdBold.ttf') format('truetype'),
         url('../fonts/ITCKabelStdBold.svg#ITCKabelStdBold') format('svg');
}
@font-face {
    font-family: 'ITCKabelStdBook';
    src: url('../fonts/ITCKabelStdBook.eot');
    src: url('../fonts/ITCKabelStdBook.eot') format('embedded-opentype'),
         url('../fonts/ITCKabelStdBook.woff2') format('woff2'),
         url('../fonts/ITCKabelStdBook.woff') format('woff'),
         url('../fonts/ITCKabelStdBook.ttf') format('truetype'),
         url('../fonts/ITCKabelStdBook.svg#ITCKabelStdBook') format('svg');
}
@font-face {
    font-family: 'ITCKabelStdDemi';
    src: url('../fonts/ITCKabelStdDemi.eot');
    src: url('../fonts/ITCKabelStdDemi.eot') format('embedded-opentype'),
         url('../fonts/ITCKabelStdDemi.woff2') format('woff2'),
         url('../fonts/ITCKabelStdDemi.woff') format('woff'),
         url('../fonts/ITCKabelStdDemi.ttf') format('truetype'),
         url('../fonts/ITCKabelStdDemi.svg#ITCKabelStdDemi') format('svg');
}
@font-face {
    font-family: 'ITCKabelStdMedium';
    src: url('../fonts/ITCKabelStdMedium.eot');
    src: url('../fonts/ITCKabelStdMedium.eot') format('embedded-opentype'),
         url('../fonts/ITCKabelStdMedium.woff2') format('woff2'),
         url('../fonts/ITCKabelStdMedium.woff') format('woff'),
         url('../fonts/ITCKabelStdMedium.ttf') format('truetype'),
         url('../fonts/ITCKabelStdMedium.svg#ITCKabelStdMedium') format('svg');
}
@font-face {
    font-family: 'ITCKabelStdUltra';
    src: url('../fonts/ITCKabelStdUltra.eot');
    src: url('../fonts/ITCKabelStdUltra.eot') format('embedded-opentype'),
         url('../fonts/ITCKabelStdUltra.woff2') format('woff2'),
         url('../fonts/ITCKabelStdUltra.woff') format('woff'),
         url('../fonts/ITCKabelStdUltra.ttf') format('truetype'),
         url('../fonts/ITCKabelStdUltra.svg#ITCKabelStdUltra') format('svg');
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/MyriadProRegular.eot');
    src: url('../fonts/MyriadProRegular.eot') format('embedded-opentype'),
         url('../fonts/MyriadProRegular.woff2') format('woff2'),
         url('../fonts/MyriadProRegular.woff') format('woff'),
         url('../fonts/MyriadProRegular.ttf') format('truetype'),
         url('../fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
}

body{padding: 0; margin: 0;}
.loading-container .loading{padding: 10px !important;}
.spinner.spinner-energized{stroke: #00d8ff; fill: #00d8ff;}

span.slider-pager-page.active, span.slider-pager-page{color: #00d8ff !important;}

/************** header *************/
.bar.hdr .button.button-icon .icon:before, .bar.hdr .button.button-icon:before{font-size: 26px;}
.hdr .h1.title{font-family: 'ITCKabelStdMedium'; color: #00d8ff; font-size:1.4em;}
.hdr button.icon, .hdr .hdr-txt{color: #00d8ff;}
.hdr .hdr-txt{font-family: 'ITCKabelStdMedium';}
.hdr{background-color: rgba(255,255,255,0.5);}
.bg{background: url('../img/bg.png')no-repeat; background-size:cover; font-weight: 600;}
.header-title{height: 0; line-height: 7px; font-size: 0.8em;  font-family: 'ITCKabelStdBook';}
.cust-hdr .h1.title{line-height: 30px;}
.icn-header{width: 32px;}
.icn-header2{width: 24px; padding: 5px 0 0 0;}
.home-hdr{background: #00d8ff;}
.home-hdr .h1.title{color: #fff; font-family: 'ITCKabelStdMedium'; font-size:1.4em;}
.home-hdr button.icon{color: #fff;}
.cust-has-ftr{bottom: 65px;}

/************** global *************/
.btn-green{background-color: #1adf1f; border-bottom: 4px solid #12c516; color: #fff; font-family: 'ITCKabelStdMedium'; font-size:1.6em !important; padding: 5px 12px 0; line-height: 35px;}
.btn-green:hover, .btn-green:focus, .btn-green.activated{background-color: #1adf1f; color: #fff;}
.btn-blue{background-color: #00D8FF; border-bottom: 4px solid #00A0BD; color: #fff; font-family: 'ITCKabelStdMedium'; font-size:1.6em;}
.btn-blue:hover, .btn-blue:focus, .btn-blue.activated{background-color: #00D8FF; color: #fff;}
.inline{display: inline-block; vertical-align: top;}
.center{text-align:center !important;}
.rel{position: relative;}
.icn_p{padding-right: 30px !important; line-height: 30px;}
.grey{background: rgba(243,243,243,0.7);}
.m-t-15{margin-top: 15px !important;}
.m-t-25{margin-top: 25px !important;}
.item-icon-right {padding-right: 50px !important; }
.bdr-t-0{border-top:0;}
.btn-green-share{background-color: #1adf1f; border-bottom: 4px solid #12c516; color: #fff; font-family: 'ITCKabelStdMedium'; font-size:1.2em !important; min-height: 36px; line-height: 30px;}
.btn-green-share:hover, .btn-green-share:focus, .btn-green-share.activated{background-color: #1adf1f; color: #fff;}
.btn-t-block{padding: 0 10px; text-align: right;}
.form-block input[readonly]:not(.cloned-text-input){background-color: transparent;}
.left{text-align:left !important;}
.bg0{background: transparent !important;}
.pd0{padding: 0 !important;}
.p-l-0{padding: 0 5px 0 0 !important;}
.p-r-0{padding: 0 0 0 5px !important;}
.bg-light2{background:rgba(255,255,255,0.3);}
.bdr0{border:0 !important;}
.trans-grey{background-color: rgba(0,0,0,0.02) !important;}
.m-t-0{margin-top: 0 !important;}
.p-b-15{padding-bottom: 15px !important;}



/************** forgot-password *************/
.content-block{padding: 15% 0;}
.heading{text-align: center; color: #0f0f0f; font-size:1.6em; font-family: 'ITCKabelStdBook'; margin: 0; line-height: 30px;}
.txt{color: #0f0f0f; font-size:1.35em; font-family: 'ITCKabelStdBook'; line-height: 25px; letter-spacing: 0.2px; word-spacing: 1px; font-weight: 500;}
.wd{width: 80%; margin: 0 auto;}
.form-block{width: 75%; margin: 5em auto 0;}
.form-block.signup-formblk{width:auto;}
.form-block .item{background: url('../img/border.png')no-repeat; position:relative; background-size:100%; border:0; background-position: 0 100%; padding: 6px 16px 7px 16px; margin-bottom: 20px;}

/*--------
 .form-block .greyShade{background: url('../img/border.png')no-repeat; position:relative; background-size:100%; border:0; background-position: 0 100%; padding: 6px 16px 7px 16px; margin-bottom: 20px;}*/
/*.form-block .redShade{background: url('../img/border-red.png')no-repeat; position:relative; background-size:100%; border:0; background-position: 0 100%; padding: 6px 16px 7px 16px; margin-bottom: 20px;}
 ------*/

.form-block .item:last-child{margin-bottom: 0;}
.form-block .item input{padding:0; font-size: 1.2em; font-family: 'ITCKabelStdBook'; line-height:34px;}
.form-block .item select{font-size: 1.2em; font-family: 'ITCKabelStdBook';}
.form-block .item.item-select{height: 45px;}
.form-block.icn-left .item input{padding:0 0px 0 40px;}
.form-block.icn-left .item .mob{background: url('../img/mob.png')no-repeat; background-size:30px;}
.form-block.icn-left .item{padding: 6px 16px 12px 16px;}
.form-block ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #3b3b3b; } 
.form-block ::-moz-placeholder { /* Firefox 19+ */ color: #3b3b3b; }
.form-block :-ms-input-placeholder { /* IE 10+ */ color: #3b3b3b; }
.form-block :-moz-placeholder { /* Firefox 18- */ color: #3b3b3b; }
.left-p{padding-left: 43px; position: relative;}
.nine-one{background-color: #e4e4e4; width: 40px; height:40px; line-height: 45px; text-align: center; font-size: 1.4em; font-family: 'ITCKabelStdBook'; border-radius: 50%; position: absolute; left: 0; top: 2px;}

/************** signup *************/
.signup-content{padding:4% 0 0 0;}
.signup-content .form-block{margin-top:0;}
.signup-content .form-block .item{ margin-bottom: 16px !important;}
.form-block.icn-left .item .user{background: url('../img/user.png')no-repeat; background-size:30px; background-position: 0 20%;}
.form-block.icn-left .item .userdoc{background: url('../img/doctorlogo.png')no-repeat; background-size:25px; background-position: 0 20%;}
.form-block.icn-left .item .mob-no{background: url('../img/mob-no.png')no-repeat; background-size: 18px;}
.form-block.icn-left .item .lock{background: url('../img/password.png')no-repeat; background-size:20.5px;}
.form-block.icn-left .item .locklogin{background: url('../img/lock.png')no-repeat; background-size:20.5px;}
.form-block.icn-left .item .lock-tick{background: url('../img/c-pass.png')no-repeat; background-size:24px;}
.form-block.icn-left .item .pin{background: url('../img/pin.png')no-repeat; background-size:23px; background-position: 0 31%;}
.form-block.icn-left .item .email{background: url('../img/email.png')no-repeat; background-size:25px; background-position: 0 20%;}
.profile-img{text-align: center; position: relative; width: 120px; height: 120px; margin: 0 auto;}
.profile-img .img-p{width:120px; height:120px; border-radius: 50%; border:6px solid #00d8ff;}
.info{width: 30px; position: absolute;  right: 3%;  top: 13px;}
.p-info{right: -45px; top: auto; bottom: 6px;}
.form-block.signup-formblk{width:auto;}
.signup-formblk .info-blocks label{margin:0 14%;}
.info-blocks {position: relative;}
.btn-s{margin: 0 14%;}
.upload-btn-a input[type="file"] {opacity: 0; position: absolute; left: -16px;}
.upload-btn-a{position: absolute; background: #fff; width: 35px; height: 35px; top: 76px; left: 0px; border-radius: 100%;}
.upload-btn-a .custom-file-upload {display: inline-block; cursor: pointer;  margin: 6px 0 0 0;}
.upload-btn-a .custom-file-upload img{width:25px;}

/************** login *************/
.m-b-20{padding-bottom: 15px !important;}
.login-content .heading{font-weight: bold;}
.login-content .form-block{margin-top:20px;}
.slider-img img{width: 100%;}
.custom-slider{margin: 0 0 2em; padding:0 0 1em;}
.custom-slider .slider-pager{bottom: 0px; padding-bottom: 20px;}
.custom-slider .slider-pager .icon{color: #00d8ff;}
.login-content .cus-check, .forgot-link{width: 49%;}
.forgot-link{text-align: right;}
.forgot-link a{text-decoration:none; color: #828282; font-size:1em; font-family: 'ITCKabelStdBook';}
.cus-check{padding:0 !important;}
.remember-forgot{margin: 0 0 18px;}

/************** OTP verification *************/
.resend-block a{color: #3a3a3a; font-size: 1.3em; font-family: 'ITCKabelStdMedium';}
.otp-block .form-block{width: 280px !important;  margin: 52% auto 0;}
.otp-block .form-block .item{background: url('../img/otp_border.png')no-repeat; background-size: contain; background-position: 0 100%;  padding: 0 24px !important;}
.otp-block .form-block .item input{letter-spacing: 64px;}

/************** Allergy *************/
.item-select select.custom-select{width: 100%; max-width: 100%; direction: ltr; background: transparent;}
.allergy-block .form-block{margin-top:1em;}
.form-block .item-select:after{border:0; background: url('../img/dropdown.png')no-repeat; background-size: 100%; padding: 8px;}
.btn-footer{width: 80%; margin:0 auto;}
.btn-footer button{margin: 0 !important; line-height: 45px !important;}
.bar-ftr{height: 65px; background: transparent;}
.btn-r-block{text-align: right;}
.btn-green.btn-sm-g{border:0; font-size: 1.1em !important; min-height: 36px; line-height: 35px; border-radius: 8px;}
.btn-add{width: 18px; display: inline-block; vertical-align: middle; margin: -2px 0 0 4px;}
.heading-block{background-color: rgba(233,233,233,0.5); font-family: 'ITCKabelStdMedium'; font-size:1.4em; padding: 12px 16px; }

/************** Pre-Existing Condition *************/
.pre-existing-block{ padding: 0 0 15px;}
.btn-block-a button{width: 80%; margin: 0 auto;}
.allergy-block .item{padding: 12px;}
.blocks-r{width: 49%;}
.allergy-block .btn-sm-g{font-size: 1.1em !important;}
.wd-block{width: 85%; margin:0 auto;}
.b-txt{font-weight: bold !important;}
.pre-txt-a{font-weight: 500; text-align: center; line-height: 22px; font-size: 1.24em; padding: 0 15px;}
.pre-existing-block .form-block{width: 100% !important; margin:0px auto 30px; padding: 0px 20px;}
.pre-existing-block .list .item{background-color: transparent;}
.pre-existing-block .form-block .info-blocks{margin: 0 3.5em 0 0;}
.add-g{position: absolute; right: -35px; top: 20px; width: 20px;}
.pre-existing-block .btn-r-block{width: 95%;}

/************** Emergency Detail *************/
.label-a, .span-a{display: inline-block; vertical-align: top; font-size:1.15em; white-space: normal;}
.label-a{width: 47%; font-family: 'ITCKabelStdMedium'; position: relative; padding-right: 9px;}
.label-a:after{content: ''; position: absolute; right: 3px; top:0%;}
.span-a{width:52%;font-family: 'ITCKabelStdBook'; text-align: right; font-weight: 500;}
.list-block .item{background-color: rgba(251,251,251,0.7); padding: 14px 16px;}
.emergency-detail.basic-profile .list-block .item.item-gender{padding: 16px;}
.emergency-detail .profile-block{padding: 20px 0 30px;}
.block1{width: 76%;}
.block2{width: 22%; text-align: right; padding: 9px 0 0 0;}
.emergency-detail .form-block{margin-top: 0; width: 100% !important;}
.emergency-detail .item-f{padding: 3px 16px 12px; background: rgba(251,251,251,0.7);}

/************** Basic Profile *************/
.basic-profile .list-block .item:first-child{border-top:0;}
.basic-profile .list-block .item:last-child{border-bottom:0;}
.basic-profile.emergency-detail .profile-block {padding: 20px 0 10px; }
.basic-profile .span-a{text-align: left;}
.calendar_icn{width: 25px; position: absolute; right: 0; top: -3px;}
.edit_icn{width: 25px; position: absolute; right: 0; top: 0px;}
.form-i .item{background: rgba(251,251,251,0.7); padding: 0;}
.basic-profile .form-block .item-select select.custom-select{padding: 0 30px 0 0; font-size:1.17em;}
.basic-profile .form-block .item-select:after{right: 8px;}
.basic-profile .form-block .item-select{height: 36px;}
.address{vertical-align: top !important; padding-top: 4px;}
.heading-1{font-family: 'ITCKabelStdMedium'; font-size:1.15em; white-space: normal; font-weight: normal;}
.blocks-q{margin: 20px 0 10px;}
.que{font-size: 1.2em; font-family: 'ITCKabelStdBook'; font-weight: normal; margin:0 0 10px;}
.blocks-q .cus-radio-list{white-space: normal;}
.blocks-q .cus-radio-list .control{width: 49%; margin:5px 0 5px; font-family: 'ITCKabelStdBook'; font-size:1.05em;}
.block-form2{width: 59%; margin-right: 8px;}
.block-select2{width: 52px; float: right;}
.block-form2 .form-block .item{padding: 0px 12px 5px;}
.block-form2 .form-block .item input{height: 30px;}
.block-select2 .form-block .item-select:after{padding: 6px; right: 0;}
.block-select2 .form-block .item-select select.custom-select{padding: 0 15px 0 0;}
.height-b .form-block{display: inline-block !important; width: 40% !important;}
.height-b .form-block .item{padding: 0 5px 5px;}

/************** Family Condition *************/
.family-condition{padding: 0 0 15px;}
.family-condition .form-block{margin-top:0; padding: 10px 0;}
.family-condition .form-block .item{margin-bottom:10px;}
.calendar-i{background: url('../img/calendar.png')no-repeat; background-size: 26px; background-position: 100% 35%;}
.family-condition .heading-1{font-size: 1.2em;}
.family-condition .checkbox{padding: 0;}
.heading-1.hdng2{font-size: 1.35em; padding: 1em 0; color: #444;}

/************** Share-to *************/
.share-to-block .form-block{margin-top:0;}
.share-to-block .form-block .item{margin-bottom:10px;}
.repeat-block{ padding: 8px 0;}
.share-to-block .btn-r-block{margin: 0 0 30px; }

/************** change-mob-no *************/
.change_mob .form-block{width: 85%;}
.change_mob .form-block .left-p{margin: 0 0 20px;}
.change_mob .form-block .left-p:last-child{margin: 0;}
.change_mob .form-block .nine-one{background: transparent; font-weight: 500;}
.block-b{margin-left:43px;}

/************** settings *************/
.settings-block .item{background-color: rgba(255,255,255,0.6); white-space: normal;}
.item.heading-item{background: rgba(232,232,232,0.6) !important; padding: 10px 16px; font-family: 'ITCKabelStdMedium'; font-size:1.35em; white-space: normal; font-weight: normal;}
.settings-block .item-icon-right .icon{font-size: 28px;}
.clr-w, .item.heading-item.clr-w{background: rgba(255,255,255,0.6) !important;}
.settings-block .checkbox-text{font-size: 0.93em; color: #000000;}
.settings-block .label-a{width: 46%;}
.settings-block .cus-radio-list .control{width: 48%; text-align: left; vertical-align: top;}
.settings-block .list-block .item{padding: 11px 16px;}
.settings-block .form-block{margin:10px auto 5px; width: 80%;}
.timing-block label.item{width: 48%; display: inline-block; vertical-align: top; padding: 5px; margin-bottom: 10px;}
.m-r-8{margin-right: 8px;}
.clock-i{background: url('../img/clock.png')no-repeat; background-size: 26px; background-position: 100% 35%; -moz-appearance: none; -webkit-appearance:none; }
select.clock-iselect::-ms-expand {display: none;}

.side-img{width: 90px;}
.side-img img{width: 80px; height:80px; border-radius: 50%; border:4px solid #dcdcdc;}
.patient-block .item{padding: 10px 16px; background-color: rgba(250,250,250,0.6);}
.patient-a{font-family: 'ITCKabelStdMedium'; font-size:1.35em; white-space: normal; font-weight: normal; width: 67%;}
.patient-block .inline{vertical-align: middle;}


/************** share-detail *************/
.heading-item .checkbox{width: 100%;}
.heading-item .pre-check .checkbox-text{width: 83%; font-family: 'ITCKabelStdMedium'; font-size: 1.02em; color: #444;}
.wd100{width: 100% !important;}
.share-detail .timing-block label.item{padding:6px 8px;}
.share-detail .item.heading-item{padding:8px 16px;}
.share-detail .checkbox{padding: 0;}
.share-detail .item .blocks-r .checkbox-text{width: auto;}
.share-detail .item .blocks-r{margin: 10px 0;}
.health-block .item.check-block{padding: 8px 10% !important;}
.share-detail .btn-block-a{margin: 10px 0 10px;}
.share-detail .points-a{border-bottom: 0;}
.share-detail .label-a{width: 58%; font-size: 1em; font-family: 'ITCKabelStdMedium';}
.share-detail .span-a{width: 38%; font-size: 1em; font-family: 'ITCKabelStdMedium';}
.button-list{padding: 10px 5px; margin: 0; list-style-type: none; text-align: center;}
.button-list li{font-family: 'ITCKabelStdBook'; font-size:1.12em; font-weight: normal; display: inline-block; padding: 8px 16px; margin: 5px 0; background-color: #dedede; border-radius: 25px; text-align: center; border: 1px solid #cbcbcb; }
.button-list li.blue{background-color:  #24ddff !important; border:1px solid #d1f6fd;}
.green-txt-a{ font-family: 'ITCKabelStdMedium'; font-size:1.12em; font-weight: normal; color: #12c516; text-align: right; padding: 5px 0 0 0;}
.from-to{    font-size: 1.1em; font-family: 'ITCKabelStdBook'; width:100%; line-height: 20px; min-height: 33px; padding-top: 6px;}
.form-block .item.bdr3{background-image: url('../img/bdr3.png');}
.form-block .item.bdr3.red-bdr{background-image: url('../img/bdr3-red.png');}
.from-to.calendar-i{background-size: 23px; padding-right: 26px !important;}
.settings-block.share-detail .form-block{width: 83%;}

/************** menu *************/
.m-bg{background-position: 60% 0;}
.menu-bg{background: rgba(0,0,0,0.8);}
.menu-list li{background-color: transparent; padding: 13px 16px; border: 0; color: #fff; font-family: 'ITCKabelStdBook'; font-size:1.24em; font-weight: normal;}
.menu_icn{width: 31px;}
.menu-list li:nth-child(even){background: rgba(0,0,0,0.3);}
.menu-list li:nth-child(odd){padding: 18px 16px;}
.menu-list .item-icon-left {padding-left: 54px !important; }
.menu-list .item-icon-right .icon{font-size: 27px;}
.home-a{padding: 0 !important;}
.home-a .item{background-color: transparent !important; border: 0; color: #fff; font-family: 'ITCKabelStdBook'; font-size:0.97em; font-weight: normal;}
.sub-menu{padding: 0 0 15px 20px;}
.sub-menu li.item{padding: 11px 16px;}

/************** home *************/
.slider-a{position: relative; background-image: url(../img/home_bg.png); background-size: cover;}
.timeline{position: absolute; bottom: 0px; background-color: rgba(84,88,87,0.5); text-align: center; width: 100%; font-weight: 400; font-size: 1.3em; color: #fff; padding: 8px 0; font-family: 'ITCKabelStdMedium';}
.timeline img{width: 25px; display: inline-block; vertical-align: middle; margin-right: 10px;}
.upload-share{position: absolute; bottom: 41px; background-color: rgba(84,88,87,0.5); text-align: center; width: 100%; font-weight: 400; font-size: 1.3em; color: #fff; font-family: 'ITCKabelStdMedium';}
.upload-share img{width: 25px; display: inline-block; vertical-align: middle; margin-right: 10px;}
.bdr-left{border-left:1px solid #7e7f7f;}
.home .slider-pager{display: none;}
.home-heading{ font-weight: 400; padding: 8px 0; font-size: 1.3em; font-family: 'ITCKabelStdMedium'; text-align: center;}
.home .custom-slider{margin: 0; padding: 0;}
.home-row{background-color: #dddddd;  padding: 5px; text-align: center;}
.home-blocks{background-color: #fff; margin-bottom: 5px; height: 235px; border-radius: 3px; display: inline-block; vertical-align: top; width: 49%; padding: 5px;}
.home-blocks:nth-child(odd){margin-right: 1px;}
.home-blocks:nth-child(even){margin-left: 1px;}
.blue-heading{ font-weight: 400; font-size: 1.15em; padding: 5px 0 0 0; min-height: 40px; color: #04cbef; font-family: 'ITCKabelStdMedium'; text-align: center; }
.no-large{font-size: 3.5em; font-family: 'ITCKabelStdMedium'; color: #5e5e5e; line-height: 56px; font-weight: 400;}
.years{font-size: 1.5em; font-family: 'ITCKabelStdMedium'; text-align: center; color: #5e5e5e; font-weight: 400;}
.block-ls label, .block-ls .span1{display: inline-block; vertical-align: top; color: #727272;}
.block-ls{padding: 5px 0;}
.label1{text-align: left !important; font-family: 'ITCKabelStdMedium'; font-size:1em; width: 52%; padding-right: 8px; position: relative; padding-left: 26px;}
.label1:after{content: ':'; position: absolute; top: 0; right: 2px;}
.span1{text-align: right !important; font-family: 'ITCKabelStdBook'; font-size:1em; font-weight: 300; width: 45%;}
.img1{width: 20px; position: absolute; left: 0; top: 0;}
.no-large img{width: 48px; margin-right: 10px;}
.block-ls .span2{width: 100% !important;}
.provider .label1{padding-left: 20px; width: 60%;}
.provider .span1{width: 37%;}
.provider .img1{width: 16px;}
.provider .no-large, .medication .no-large, .health_condition .no-large{ min-height: 86px;}
.h-block2 .span2{text-align: center !important;}
.h-block2 .span2{}
.h-block2 .label1{padding:0; width: 100%; text-align: center !important;}
.h-block2 .label1:after{content:' ';}
.h-block2 .img1{position: relative; display: inline-block; vertical-align: middle;}
.m-b-0{margin-bottom: 0 !important;}


/************** timeline *************/
.timeline-a .btn-green-share{float: right; font-size: 1em !important;}
.timeline-a .item.heading-item{padding: 10px 3px; border:0; background: transparent !important;}
.timeline-a .checkbox-text{width: 48% !important;}
.timeline-card{border-top: 1px solid #cacaca; padding: 40px 0 0 0px; margin-left: 30px; position: relative;}
.timeline-card .card{border-radius: 0; box-shadow: 0 0 0; border:1px solid #cacaca; margin: 5px 10px; /*min-height: 132px;*/}
.card-heading{font-family: 'ITCKabelStdMedium'; font-size:1.17em; font-weight: 300;}
.card-txt{font-family: 'ITCKabelStdBook'; font-size:1.1em; font-weight: 300; line-height: 26px;}
.month-year{width: 60px; height: 60px; border-radius: 50%; background-color: #00d8ff; color: #fff; text-align: center; padding: 10px 0; position: absolute; top: -29px; left: -19px; z-index: 9;}
.txt-b{font-family: 'ITCKabelStdMedium'; font-size:1em; font-weight:500; font-size:1.3em;}
.txt-p{font-family: 'ITCKabelStdBook'; font-size:1.2em; font-weight: 300;}
.t-blocks{padding-left: 40px; position: relative;}
.date-month{width: 60px; height: 60px; border-radius: 50%; background-color: #ececec; color: #000; text-align: center; padding: 10px 0; border:1px solid #cacaca; position: absolute; left: -20px; top: 0;}
.month-year:after{    content: ''; background-color: #00d8ff; width: 1px; height: 25px; padding: 1px; position: absolute;}
.timeline-a .t-blocks .card .item{padding: 10px 13px;}
.timeline-a{padding: 0 0 10px;}
.timeline-a .patient-block .item{padding: 10px; background-color: rgba(248,248,248,0.8);}
.timeline-a .side-img{width: 76px;}
.timeline-a .side-img img{width: 70px; height: 70px;}
.timeline-a .patient-a{font-size:1.3em; width: 49%; vertical-align: middle;}
.btn-outline-share{background-color: transparent; padding: 0px 4px; float: right; margin: 20px 0 0 0; border: 1px solid #00d4fa; color: #00d4fa !important; font-family: 'ITCKabelStdBook'; font-size: 1em !important; min-height: 33px; line-height: 30px;}
.btn-outline-share.activated, .btn-outline-share:focus{background-color: transparent; border: 1px solid #00d4fa; color: #00d4fa;}
.share-b{width: 20px; display: inline-block; vertical-align: middle;}

/************** calendar *************/
.calendar-item{position: relative;}
.calendar-item .item{border-left:0; margin-left: 30px; font-family: 'ITCKabelStdBook'; font-size:1.3em; font-weight: 300; background-color: transparent;}
.dot{width: 25px; height: 25px; position: absolute; left: 10px; top: 25%; border-radius: 50%;}
.square{width: 15px; height: 15px; display: inline-block; vertical-align: middle;}
.txt-s{display: inline-block; /*vertical-align: middle;*/ padding-left: 5px;}
.dot-a{width: 25px; height: 25px; display: inline-block; vertical-align: middle; border-radius: 50%;}
.brown{background-color: #df6f24;}
.dark-yellow{background-color: #dfd424;}
.red{background-color: #df2824;}
.sky{background-color: #00d8ff;}
.dark-pink{background-color: #fa19e8;}
.yellow{background-color: #edea00;}
.dark-blue{background-color: #041aba;}
.light-blue{background-color: #2489df;}
.light-pink{background-color: #d062fc;}
.dark-green{background-color: #1adf1f;}
/*.block-txt{padding: 10px 0 0 0;}*/

/************** OTP verification *************/
.otp-block2 label.item{width: 20%; display:inline-block; margin: 0 5px; padding: 0 10px; background-image: url(../img/border-btm.png);}
.otp-block2 .form-block {width: 280px !important; margin: 52% auto 0; }
.otp-block2 label.item input{text-align: center;}
.otp{margin: 0 0 20px;}

/************** Edit-personal-info *************/
.question-blocks{padding: 0 16px !important;}
.edit_personal_info .list-block{margin: 0 0 10px;}
.edit_personal_info{padding: 0 0 25px;}
.save-btn-hdr{background-color: #1adf1f; color: #fff; font-size:1.3em !important; font-family: 'ITCKabelStdMedium'; padding: 0 7px !important; border-radius: 5px !important;}
.save-btn-hdr.activated, .save-btn-hdr:focus, .save-btn-hdr:hover{background-color: #1adf1f; color: #fff;}

/************** Personal Information *************/
.personal-information .profile-block{padding: 20px;0;}
.personal-information .label-a, .personal-information .span-a{padding: 0; width: 49%;}
.personal-information .label-a:after{display: none;}
.info-block-a .item{background-color: transparent; border:0; padding: 5px 16px;}
.span-a.span-left{text-align: left; font-size:1.1em;}
.span-a.span-right{text-align: right; font-size:1.1em;}
.info-block-a{padding: 10px 0 30px;}
.green-heading-a{font-size:1.3em !important; font-family: 'ITCKabelStdMedium'; color: #1ADF1F;     white-space: normal;}
.green-heading-a span{font-family: 'ITCKabelStdBook'; font-weight: 500; font-size: 1em; color: #444; padding-left: 5px;}
.personal-statistics-block .label-a{width: 20%; font-size:1.1em; vertical-align: top;top: 5px;}
.personal-statistics-block .span-a{width: 23%; text-align: left; font-size:1.09em;}
.personal-statistics-block .span2-a{width: 30% !important;}
.btn-green-share.upload-btn{width: 100%; font-size: 0.94em !important; padding: 0; font-family: 'ITCKabelStdBook'; border:0; border-radius: 5px;}
.personal-information .list-block .item{background-color: rgba(251,251,251,0.0);}

/************** Additional Information *************/
.additional-info-a .patient-a{padding-top: 0;}
.address-o{font-weight:500 !important; font-family: 'ITCKabelStdBook';}
.additional-info-a .pre-txt-a{padding: 10px 0 15px; background-color: rgba(251,251,251,0.7);}
.personal-information.additional-info-a .list-block .item{background-color: rgba(251,251,251,0.7);}
.additional-info-a .patient-block .item, .additional-info-edit .patient-block .item{background: rgba(238,238,238,0.6) !important;}

/************** Additional Information edit *************/
.additional-info-edit .pre-existing-block .list .item{border:0; padding: 7px 16px;}
.additional-info-edit .heading-1.hdng2{padding-top: 0;}
.dob-a{font-size: 1.2em; font-family: 'ITCKabelStdBook'; line-height: 28px; width: 100%;}
.language-block .form-block{width: 95%; margin: 0 auto; padding:0;}
.language-block .form-block .item{background-image: url(../img/bdr3.png);}
.language-block .form-block .item-select:after{padding:6.5px; top: 54%; right: 9px;}
.language-block .item-select select.custom-select{ padding: 0 28px 0 8px; font-size: 1.08em;}
.maritial-block .cus-radio-list .control{font-size: 1.2em; font-family: 'ITCKabelStdBook'; width: 60%;}
.maritial-block .cus-radio-list .control:nth-child(2){width: 38% !important;}
.additional-info-edit .list-block.patient-info-a .label-a, .additional-info-edit .list-block.patient-info-a .span-a{vertical-align:top; width: 45%;}
.additional-info-edit .list-block.patient-info-a .span-a{text-align: left; padding: 5px 0 0 10px;}
.patient-info-a .form-block{width: 100%; margin: 0; padding:0;}
.patient-info-a .form-block .item-select select.custom-select{padding: 0 42px 0 0px;}
.patient-info-a .form-block .item{height: 22px;}
.list-block.list.patient-info-a{margin: 0;}
.additional-info-edit .pre-check{width: 100%;}
.form-check .form-block{margin: 0; padding: 0; }
.form-check .form-block .item{padding: 0 !important;}
.form-check input{padding: 0 0 12px !important; height: 40px;}
.occupation-block .pre-existing-block{padding: 15px 0 10px;}

/************** my-provider *************/
.sub-hdr{height: 65px; background: rgba(0,0,0,0.1); padding: 5px 10px 5px 8px;}
.img-qr{width: 35px; height:35px; margin: 0 auto;}
.sub-block1{width: 52px; text-align: center; margin-right: 10px;}
.my-qr{color: #00D8FF; font-family: 'ITCKabelStdMedium'; font-weight: 500;}
.sub-hdr .item-input-wrapper{background-color: #fff; height:35px; font-size:1.3em; border: 1px solid #AAAAAA;}
.btn-search{background-color: #1adf1f; color: #fff; font-family: 'ITCKabelStdBook' !important; font-weight: 500; height: 35px; line-height: 38px; font-size: 1.1em !important; padding: 0 15px;}
.btn-search.activated, .btn-search:focus, .btn-search:hover{background-color: #1adf1f; color: #fff;}
.sub-hdr .placeholder-icon{font-size:1.3em !important;}
.bar.sub-hdr.item-input-inset .item-input-wrapper input{font-family: 'ITCKabelStdBook' !important; padding-left: 0; font-weight: 500; font-size: 0.9em;}
.cust-subhdr{top: 110px;}
.provider-block .item{padding: 0;top: 21px;}
.provider-block .provider{ padding: 10px 10px 0 10px;}
.provider-block .patient-block .inline{vertical-align: top;}
.d-name{font-size: 0.8em;}
.d-profile{font-size: 0.7em; padding: 5px 0 0 0;}
.provider-block .patient-a{width: 40%; padding: 5px 0 0 0;}
.provider-block .share-block{width: 33%; padding: 5px 0 0 0; float: right;}
.call-img{width: 26px;}
.provider-block .share-block .btn-outline-share{margin: 0; font-size: 1em !important; padding: 0 3px; min-height: 33px;}
.provider-block .side-img img{width: 70px; height: 70px;}
.provider-block .side-img{width:75px;}
.right{text-align: right;}
.share-provider{display: inline-block; float: right;}
.btn-f-share{font-family: 'ITCKabelStdBook'; background-color: #8B8B8B; border-radius: 0; color: #fff !important; font-size:1.1em; min-height: 35px; line-height:35px;}
.btn-f-share.activated, .btn-f-share:focus{background-color: #8B8B8B; color: #fff;}

/************** my-QR-code *************/
/*.qr-b-img{margin: 20% 0 15%;}*/
/*.qr-b-img{padding: 10% 5%;}*/
.qr-code-block .txt.pre-txt-a{font-size:1.3em;}

/************** add new provider *************/
.qr-scan img{width: 40px; display: inline-block; vertical-align: middle; margin: 0 10px 0 0;}
.qr-scan{font-size: 1.2em; font-family: 'ITCKabelStdMedium'; color: #000; font-weight: 500;}
.item.scan-qr-item{padding: 6px 0px 7px 0px;}
.add-new-provider .form-block{margin: 0 auto;}
.add-new-provider{margin: 3% 0 0 0;}

/************** health-conditions *************/
.health-condition .timeline-a{padding: 0;}
.disease-a{font-size: 1.25em; font-family: 'ITCKabelStdMedium'; font-weight: 500;}
.active-txt{font-size:0.9em;  font-family: 'MyriadProRegular'; color: #1ADF1F; text-decoration: underline;  font-weight: 500;}
.disease-txt{font-size: 1em; font-weight: 500;  font-family: 'MyriadProRegular';}
.health-list .item{background-color: transparent; padding: 10px 16px; white-space: normal;}
.left-a1, .right-a1{display: inline-block; vertical-align: middle;}
.left-a1{width: 58%;}
.right-a1{width: 39%;}
.right-a1.disease-txt{font-family: 'ITCKabelStdBook'; font-weight: 500;}
.blk-a1{padding: 1px 0;}
/*.item.inactive{background-color: rgba(0,0,0,0.05) !important;}*/
.item.rowalternate{background-color: rgba(0,0,0,0.05) !important;}
.item.inactive .active-txt{color: #505050;}
.health-condition .button-list{text-align: left;}
.health-condition .button-list .search-block{width: 57%; padding: 0; float: right;}
.health-condition .button-list li.search-block{background-color: transparent; border: 0;}
.health-condition .button-list li:first-child{width: 130px;}
.health-condition .button-list li .item{padding: 0 10px; font-size: 0.94em;}
.search-block .item i{font-size: 1.35em; color: #929292; margin: 0 5px 0 0;}
.search-block.form-block ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #929292; } 
.search-block.form-block ::-moz-placeholder { /* Firefox 19+ */ color: #929292; }
.search-block.form-block :-ms-input-placeholder { /* IE 10+ */ color: #929292; }
.search-block.form-block :-moz-placeholder { /* Firefox 18- */ color: #929292; }

/************** medication *************/
.medication-block .item{background-color: transparent; padding: 10px 14px; white-space: normal;}
.side-left{width: 64%;}
.side-right{width: 33%;}
.gray-l-txt{font-size: 1.1em; font-weight: 500;  font-family: 'ITCKabelStdBook'; color: #707070; margin-bottom: 5px;}
.medication-block label.disease-txt{ font-family: 'ITCKabelStdMedium'; font-weight: 500; font-size: 1.1em;}
.medication-block span.disease-txt{font-family: 'ITCKabelStdBook'; font-weight: 500; font-size: 1.1em;}
.side-right{text-align: right;}
.side-right .disease-txt{font-family: 'ITCKabelStdBook'; font-weight: 500; font-size: 1.05em; margin-bottom: 5px;}
.active-txt.remind{ font-family: 'ITCKabelStdMedium'; font-weight: 500 !important; font-size: 1.05em !important; margin-bottom: 5px;}
.medication-block .active-txt{font-size:1em;}
.medication-block .inactive label.disease-txt, .medication-block .inactive span.disease-txt{font-family: 'ITCKabelStdBook'; color: #707070;}
.inactive .side-right .disease-txt{color: #707070;}
.medication-block .disease-a{margin-bottom: 8px;}

/************** emergency_information *************/
.emergenct-repeat-block .item.heading-item{border: 1px solid #edebeb;}
.emergenct-repeat-block .item.item-select{width: 70%; margin-bottom: 0 !important;}
.form-b-btn{margin: 3.5em auto 0 !important;}

/************** add-medication *************/
.add-medication .form-block{margin: 0 auto;}
.add-medication .form-block .item{margin-bottom: 10px;}
.add-medication .form-block .item-select:after{right:4px;}
.add-medication .form-block .item-select select.custom-select{padding: 0 20px 0 10px;}
.tab-info .item-select select.custom-select{padding: 0 26px 0 5px !important;}
.day-time-block{width: 77%; margin: 10px auto;}
.take-block{width: 77%; margin: 10px auto 0;}
.maen-list li{display: inline-block; background-color: #1ADF1F; color: #fff; width: 26px; margin: 0 6px; height: 27px; line-height: 29px; text-align: center; font-size: 1.2em; font-family: 'ITCKabelStdBook'; font-weight: 500; border-radius:3px; -webkit-box-shadow: 1px 2px 0.5px 0px rgba(15,143,18,1); -moz-box-shadow: 1px 2px 0.5px 0px rgba(15,143,18,1);box-shadow: 1px 2px 0.5px 0px rgba(15,143,18,1);}
.day-time-heading{width: 35%; font-family: 'ITCKabelStdMedium'; position: relative; font-weight: 500 !important; font-size: 1.35em !important;}
.day-time-heading.inline{vertical-align: middle;}
.day-time-disp{width: 63%; text-align: left;}
.med-block2 .cus-radio-list .control{font-family: 'ITCKabelStdBook'; font-weight: 500; font-size: 1.3em;}
.med-block2 .cus-radio-list .control:nth-child(1){margin-right: 10%;}
.med-block2 .cus-radio-list{ text-align: center; padding: 12px 0;}
.calendar-img{width: 25px; display: inline-block; vertical-align: middle; margin-left: 5px;}
.start-heading{ font-family: 'ITCKabelStdMedium'; font-weight: 500 !important; font-size: 1.35em !important;}
.consult .custom-select{padding-left: 0 !important;}
.start-l, .start-date-w{width: 49%; display: inline-block; vertical-align: middle;}
.start-date-w{font-family: 'ITCKabelStdBook'; font-weight: 500; font-size: 1.3em;}
.med-a1.patient-block .item{padding: 8px 8px 4px; background-color: rgba(0,0,0,0.02); border: 1px solid #f5f5f5; margin-bottom:0;}
.start-date{padding: 10px 0;}
.take-block .day-time-heading{width: 100%;}

/************** medication- table *************/
.table-block table{width: 100%;}
.table-block th, .table-block td {border: 1px solid #ddd; border-collapse: collapse; padding: 18px 8px; text-align: center; font-family: 'ITCKabelStdBook'; vertical-align:middle; width: 50%; font-weight: 500; font-size: 1.4em;}
.table-block th{padding: 12px 5px; background-color: #1ADF1F; color: #fff; font-weight: 600; letter-spacing: 0.4px;}
.table-block th:nth-child(1), .table-block td:nth-child(1){border-left:0;}
.table-block th:nth-child(2), .table-block td:nth-child(2){border-right:0;}

/************** allergy2 *************/
.allergy-block2 .button-list{padding: 20px 10px 30px;}
.health-condition.allergy-block2 .button-list .search-block {width: 56%; padding: 0;}

/************** vaccine and document *************/
.allergy2-list .item{white-space: normal; background-color: rgba(0,0,0,0.011); border:1px solid #f5f5f5;}
.txt-f1{font-family: 'ITCKabelStdBook'; font-weight: 500; font-size: 1.2em;}
.side-hdng{font-family: 'ITCKabelStdBook'; font-weight: 500 !important; font-size: 1.1em !important;}
.notes-v{color: #1ADF1F; font-family: 'ITCKabelStdMedium'; font-weight: 500; font-size: 1.05em; text-align:center; text-decoration: underline;}
.date-cal{text-align: right; font-family: "ITCKabelStdBook" !important; font-weight: 500; font-size:1.2em; width: 100%;}
.date-cal img{width: 22px; display: inline-block; vertical-align: middle; margin: -5px 0 0 5px;}

/************** add-documentation *************/
.blk-row{margin: 15px 0 0;}
.side-hdng.item-wh{font-size:1.35em !important; padding: 14px 0 8px;}
.valid-date{margin: 25px 0 15px;}
.upload-item{position: relative; padding: 0 55px 0 0;}
.cam_icn{width: 40px; position: absolute; right: 0px; top:0px;}
.upload-doc{font-family: 'ITCKabelStdBook'; font-weight: 500; font-size: 1.15em; padding-right: 23px; background: url('../img/upload..png')no-repeat; background-size:18px; background-position: 100% 20%;}

/************** Vaccine DTP *************/
.table-block .date-cal{text-align: center; font-size: 1em;}
.vaccine-DTP .table-block th, .vaccine-DTP .table-block td{font-size:1.23em;}

/************** Vitals & symptoms *************/
.vital-symptoms-block{margin: 0 0 15px;}
.vital-symptoms-block .button-list{padding: 5px 0; text-align: center;}
.health-condition.allergy-block2 .button-list li:first-child {width: auto; }
.vital-symptoms-block .form-block{margin-top: 0; width: 218px;}
.vital-symptoms-block .item.heading-item{padding: 8px 16px; border:1px solid #f5f5f5;}
.report-block .item{padding: 0px 15px 0px 5px; white-space: normal; background-color: transparent;}
.report-block .item-icon-right .icon{font-size:1.1em; right: -5px;}
.report-block .item-icon-right{padding-right: 15px !important;}
.txt-r-sm{font-family: 'ITCKabelStdMedium'; font-weight: 500; font-size: 0.82em; line-height: 17px;}
.p-lr-5{padding: 0 5px;}
.col-heading{ color: #fff; font-family: 'ITCKabelStdBook'; font-weight: 500; font-size: 1.2em;}
.row-h.item{padding: 0px 15px 0px 5px; background-color: #B1B1B1;}
.row-h .col{border-right: 1px solid #FEFEFE; padding: 8px 5px;}
.row-h .col:last-child{border:0;}
.report-block{margin:0;}
.report-table table{width: 100%;}
.report-table table th, .report-table table td{width: 33.33%; font-family: "ITCKabelStdBook" !important; font-weight: 500; text-align: center; font-size:1.25em; vertical-align: middle; padding: 5px 8px;}
.report-table table th{background-color: #B1B1B1; color: #fff; border-right: 1px solid #FEFEFE; font-size: 1.25em;}
.report-table table th:last-child{border:0;}
.report-table table tr{border-bottom: 1px solid #ddd;}
.blue-txt{color: #00D8FF;}

/************** add-subprofile *************/
.add-subprofile .form-block .item{margin-bottom: 15px;}
.add-subprofile{margin: 20px 0 0;}
.add-subprofile .from-to, .upload-page .from-to{font-size: 1.2em;}
.add-subprofile .nine-one{font-weight: 500;}

/************** subprofile *************/
.verify{font-family: "ITCKabelStdBook" !important; font-weight: 500; font-size: 0.95em; padding: 0 0px 0 10px; margin-right: -10px; color: #1ADF1F; text-decoration: underline;}
.left-label{font-family: "ITCKabelStdBook" !important; font-weight: 500; font-size: 1.3em; width: 71px;}
.right-item-block{width: 65%; float: right;}
.form-block .right-item-block .item{padding: 5px 16px;}
.b-txt2{font-family: 'ITCKabelStdMedium'; font-weight: 500; font-size: 1.3em; text-align: center;}
.status-txt{margin: 5px 0 0 0;}

/************** upload *************/
.health_condition-txt{font-family: 'ITCKabelStdBook'; font-weight: 500; font-size: 1.15em;}
.date_time_icn{background: url('../img/date_time_icn.png')no-repeat; background-size: 30px; background-position: 100%; padding-right:35px;}
.upload-page .upload-btn-a1{margin: 5em 0 0 0;}
.upload-page .form-block .item {margin-bottom: 20px !important; }

/************** title *************/
.title-block .item:first-child{padding: 8px 16px;}
.title-block .label-a{width: 52%;}
.title-block .span-a{width: 46%;}
.img4 img{width: 100%;}
.image-row{padding: 10px 10px 0;}
.title-img1 .side-hdng.item-wh{padding: 16px 16px 0;}

/************** menu-2 *************/
.menu2.menu-list li{font-size: 1.3em;}

/************** e-prescription *************/
.meal-time{margin: 15px 0 0 5px; text-align: left;}
.e-prescription .maen-list{text-align: left;}
.e-prescription .list-block .item{background-color: transparent;}
.green-txt{color:#1ADF1F;}
.e-prescription .b-txt2{text-align: right; margin: 10px 10px 20px; text-decoration: underline;}

/************** user-profile *************/
.black-heading-a{font-size:1.3em !important; font-family: "ITCKabelStdBook"; color: #444; font-weight: 500;}
.name-r2{font-size: 1.1em; margin: 10px 0px;}
.user-profile-block{padding: 15px 0 0 0;}
.user-profile-block .info-block-a {padding:20px 0 10px;}
.user-profile-block .info-block-a .span-a{width: 49%; vertical-align: top; font-size: 1.15em;}
.m-b-5{margin-bottom: 5px;}
.date-heading{float: right; font-size: 0.7em; margin-left: 10px;}
.data-sent-block .item{background-color: transparent; border: 0; padding: 10px 16px;}
.data-sent-block .item .label-a, .data-sent-block .item .span-a{font-family: "ITCKabelStdBook" !important; padding: 0; width: 49%;}
.data-sent-block .item .label-a:after{content:'';}
.report-download img{width: 25px; display: inline-block; vertical-align: middle;}

/************** add-vaccination *************/
.vacc-info{width: 30px;}
.add-rem button.btn-sm-g{font-family: "ITCKabelStdBook" !important; float: right; font-size:0.9em !important; padding: 2px 5px 0; border-radius: 2px; min-height: 27px; line-height: 27px; border-bottom: 3px solid #12c516;}
.vacc-blocks .item{background-color: transparent; white-space: normal; padding: 10px 5px 10px 10px;}
.vacc-heading{width: 56%;}
.add-rem{width: 134px; float: right;}
.vacc-heading .side-hdng.item-wh{ padding: 0; font-size: 1.2em !important;}
.add-vaccination-block .inline{vertical-align: middle;}
.s-list li{width: 100px; white-space: nowrap; text-align: center; display: inline-block;}
.date-li{font-family: "ITCKabelStdBook"; font-size:1em; font-weight: 500;}
.white-txt{color: #fff;}
.inj-block{background-color: #00D8FF; border-radius: 50%; width: 50px; height:50px; margin:0 auto 8px; padding: 5px;}
.inj-block img{display: inline-block; vertical-align: middle; width: 20px; margin: 0 0 2px; }
.s-list{margin: 10px 0 0; white-space: nowrap;}
.side-hdng.item-wh.txt-book{font-family: "ITCKabelStdBook" !important; font-weight: 500; margin: 5px 0 0 0;}

/************** Blood Sugar *************/
.p-lr-10{padding: 0 10px;}
.p-lr-15{padding: 0 15px 8px;}
.form-block.form-100{width: 95%; margin: 0 auto;}
.form-block.form-100 .item{padding: 6px 5px 5px 5px; font-size: 1.04em;}
.blood-sugar .heightblk-3 .date, .temperature .heightblk-3 .date{font-family: "ITCKabelStdBook" !important; font-weight: 500;}
.blood-sugar .b-txt2.green-txt, .temperature .b-txt2.green-txt{text-align: right; text-decoration: underline; letter-spacing:0.5px; font-size:1.25em;}
.form-block.form-100 .item-select:after{padding: 7px; right:10px;}
.form-block.form-100 .item-select select.custom-select{padding: 0 30px 0 10px;}
.heightblk-6 .bottom .col-center{font-family: "ITCKabelStdBook" !important;}

/************** Temprature *************/
.temperature .form-block.form-100 .item{padding: 6px 16px 5px 16px;}
.col.p-r-12{padding: 5px 12px 5px 5px; position: relative;}
.col.p-l-12{padding: 5px 5px 5px 12px;}
.slash:after{content: '/'; position: absolute; right: -5px; top: 33%; font-size: 1.2em; color: #333;}
.time-block-a{font-size: 0.9em !important; display: inline-block; vertical-align: middle; margin: -18% 0 0 10px;}
.block-2data .circle-s{margin:0; display: inline-block;}

/************** Eye Power *************/
.eye-power-section .patient-block .item{background-color: rgba(0,0,0,0.02); padding: 8px 10px 6px;}
.i-power-block1 .form-block{width: 95%; margin: 0 auto;}
.i-power-block1 .button-list{padding: 10px 5px 0;}
.i-power-block1 .button-list li{padding: 8px 12px; font-size: 1.23em;}
.i-power-block1 .form-block .item{padding: 6px 10px;}
.eye-power-table th, .eye-power-table td{width: 10% !important; padding: 8px 5px; font-size: 1.35em;}
.eye-power-table th{padding: 10px 5px;}
.eye-power-table td:first-child{width: 40%;}
.r-bdr{border-width: 1px; border-style: solid; border-radius: 25px;}
.green-bdr{border-color: #1ADF1F;}
.blue-bdr{border-color: #00D8FF;}
.txt-sm span{display: inline-block; vertical-align: middle; padding: 2px 10px;}

.eye-power-table .circle-s{width:55px; height:55px;}

/************** Family & friend (managed & linked contacts) *************/
.cust-tab .tab-item.tab-item-active, .cust-tab .tab-item.active, .cust-tab .tab-item.activated{background-color: #1ADF1F;  font-family: 'ITCKabelStdBook'; font-size: 1.1em; color: #fff; border-bottom: 1px solid #fff;}
.cust-tab .tab-item{font-family: 'ITCKabelStdMedium'; font-weight: 500; font-size: 1.05em; color: #989898; white-space: normal;}
.cust-tab .tabs{background-image: linear-gradient(0deg, #E8E8E8, #E8E8E8 50%, transparent 50%); border-color: #E8E8E8;}
.cust-tab .tab1{line-height: 18px; padding: 5px 0 0;}
.linked-contacts-block .item{background-color: transparent; white-space: normal; padding: 8px 12px;}
.linked-contacts-block .item:first-child{border-top:0;}
.linked-contacts-block .item:last-child{border-bottom:0;}
.linked-contacts-block .label-a{padding: 0; width: 53%; font-family: 'ITCKabelStdBook';}
.linked-contacts-block .label-a:after{content: '';}
.linked-contacts-block .span-a{width: 47%; float: right;}
.linked-contacts-block{margin: 0;}
.p-d-5{padding: 5px 0 0 0;}
.font-sm{font-size: 1em;}
.font-xx{font-size: 1.25em !important; }
.font-x{font-size: 1.1em;}
.font-m{font-size: 1.04em;}
.blue-link{color: #00D8FF; text-decoration: underline; font-family: 'ITCKabelStdMedium'; font-weight: 500; letter-spacing: 0.5px;}
.contact-repeat-block {padding: 2px 0 0 0;}

/************** Family & friend (more contacts) *************/
.more-contact-block .button-list{text-align: left; padding: 0 20px;}
.cal_ic_a{width: 21px; margin: 0 0 0 5px;}
.medical-record-contacts .item.heading-item{padding: 10px 12px}

/************** Family & friend (invite contacts) *************/
.invite-contact .pre-existing-block{padding:  0;}
.invite-contact .pre-check{width: 100%; padding: 0;}
.invite-contact .item{background-color: transparent; white-space: normal;}
.invite-contact .checkbox-text{font-size: 1.2em !important;}
.blocks-item-invite .checkbox-text{width: 85%;}
.share-msg-block img{display: inline-block;vertical-align: middle;}
.share-green-icn{width: 18px;}
.msg-icn{width: 28px; margin-left: 15px;}
.select-all-item .checkbox-text{width: 70% !important;}

/************** Report, scan & prescription *************/
.report-scan-block .vital-symptoms-block .form-block{width: 85%; margin: 0 auto;}
.report-scan-block .search-block .item i{font-size: 1.5em; margin: 0;}
.report-scan-block .vital-symptoms-block .button-list{padding: 5px 0 0;}
.report-scan-block .vital-symptoms-block .button-list li:last-child{padding: 8px 35px;}
.report-scan-list .item{background-color: transparent; white-space: normal;}
.report-scan-list .span-a{float: right;}
.list-block1 .label-a:after, .list-block2 .label-a:after, .list-block3 .label-a:after{content:'';}
.list-block1 .label-a, .list-block2 .label-a{width: 33%;}
.list-block1 .span-a, .list-block2 .span-a{width: 65%;}
.list-block3 .label-a{width: 100%;}
.list-block4 .label-a{vertical-align: top; width: 28%;}
.list-block4 .span-a{vertical-align: top; width: 70%;}
.list-block2 .span-a{font-family: 'ITCKabelStdMedium';}

/************** e-prescription(form) *************/
.e-prescription-form .form-block{margin: 10px 0 0;}
.e-prescription-form .item{margin-bottom: 15px !important;}
.e-block2 .form-block{margin: 0 auto;}
.e-prescription-form .day-time-heading:after{content: ':'; position: absolute; right: -6px; top: 0;}
.e-prescription-form .take-block .day-time-heading{width: 43%;}
.e-prescription-form .b-txt2{text-align: right; text-decoration: underline;}
.e-date-block{font-family: 'ITCKabelStdMedium'; font-weight: 500; font-size: 1.2em; text-align: right; padding: 0 15px;}
.e-date-block img{display: inline-block; vertical-align: middle; margin-left: 15px;}
.e-prescription-form .med-block2 .cus-radio-list{text-align: left; padding: 12px 11%;}
.e-prescription-form .med-block2 .cus-radio-list .control:nth-child(1) {margin: 0; }
.e-prescription-form .med-block2 .cus-radio-list .control{width: 49%;}

/************** Vitals *************/
.vitals-block .form-block{margin: 5px 0 0 0;}
.vitals-block .signup-formblk .info-blocks label.item{margin: 0 18% 10px 8%; padding: 6px 8px;}
.unit{font-size: 1.3em; font-family: 'ITCKabelStdBook'; position: absolute; right: 0; top: 20px; width:15%; font-weight: 500;}
.list-2l .info-blocks{margin: 0 18% 10px 8%;}
.form-blocks-r{position: relative;}
.list-2l label.item{margin: 0 !important;}
.vitals-block .item.heading-item{margin: 0;}
.form-blocks-r .item-select select.custom-select{padding: 0 16px 0 5px; font-size:1.16em;}
.form-blocks-r .item-select:after{right: 2px; padding: 6.5px;}
.vitals-block .btn-block-a button{padding: 5px 0 0 0; font-size: 1.4em !important;}

/************** Medicine *************/
.medicine-section .form-block .item{margin: 0 0 10px; white-space: normal;}
.medicine-time-section .item.heading-item{border:0; margin: 8px 0 0;}
.medicine-time-section .list-block .item.heading-item{background-color: transparent !important; border-bottom: 1px solid #ddd; padding: 16px 0; margin: -2px 0; white-space: normal;}
.medicine-time-section .list-block .item.heading-item:first-child{border:0;}
.medicine-time-section .list-block .item.heading-item:last-child{border:0;}
.medicine-time-section .list-block .item .pre-check{padding: 0;}
.med-time-block .list-block{padding: 0 14px;}
.time-row{padding: 0px 0 0px 4%;}
.time-row .checkbox-text{font-family: 'ITCKabelStdBook' !important; font-size:0.98em !important;}
.time-row .pre-check .checkbox-text{width: 68%;}
.time-row .cus-radio-list{padding: 10px 0 0 6%;}
.time-row .cus-radio-list .control{font-family: 'ITCKabelStdBook' !important; font-size:0.95em !important; margin: 0 0 5px;}
.form-txt1 .form-block{margin: 0; width: 100%;}
.form-txt1 .pre-check .checkbox-text{width: 65%; font-size: 0.94em;}
.form-txt1 .form-block .item{padding: 5px 10px; height: 34px; background-color: transparent;}
.form-txt1 .form-block .item-select:after{right: 6px; padding: 6px;}
.form-txt1 .item-select select.custom-select{padding: 0 22px 0 8%; font-size: 1.05em;}
.form-txt1 .form-block .item input{font-size: 1.05em;}
.row1-a{width: 43%;}
.row2-a{width: 57%; float: right;}
.row3-a{width: 65%;}
.row4-a{width: 32%;}
.form-txt1 .label-a{width: 30%; font-size: 0.94em; margin: 8px 0 0 0;}
.medicine-time-section .med-time-block .cus-radio-list .control__indicator{top: 0;}
.add-vaccination-block .scroll-view.scroll-x{overflow-x: auto;}








/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.form-block{width: 60% !important; margin: 8em auto 0;}
  	.wd{width: 60% !important;}
  	.hdr .h1.title{font-size:1.5em !important;}
    .blocks-q .cus-radio-list .control{width: 24% !important;}
    .button-list li{font-size:1.3em;}
    .green-txt-a{font-size:1.23em;}
    .additional-info-edit .form-check .pre-check{width: 50%;}
    .block-full .list .item{width: 50%; display: inline-block;}
    .block-full .list{width: 95%; margin: 0 auto;}
    .qr-code-block .txt.pre-txt-a{width: 80%; margin: 0 auto;}
    .health-condition .button-list li:first-child {width: 142px !important; }
    .popup-container .popup{width: 350px !important;}
    .popup-container .popup .form-block{width: 100% !important;}
    .day-time-block, .take-block{width:65% !important;}
    .e-prescription-form .form-block.signup-formblk{margin: 10px auto; width:83% !important;}

}



/*---checkbox--*/
.myCheckbox{padding-left:0!important;}
.myCheckbox input {display: none; position: relative;z-index: -9999;}
.myCheckbox span {width: 20px;height: 20px;display: block;background: url("../img/no-tick.png") no-repeat;}
.myCheckbox input:checked + span {background: url("../img/tick.png") no-repeat;}
.checkbox-text {display: block; margin: 0px 0 0px 23px; color: #828282; font-size:1em; font-family: 'ITCKabelStdBook'; white-space: normal;}
.myCheckbox {float: left;}

.cus-check.sign-check{text-align: center; margin: 0 auto; width: 100%;} 
.cus-check.sign-check .myCheckbox{float: none; display: inline-block; vertical-align: top;}
.cus-check.sign-check .checkbox-text {display: inline-block; width: 60%; vertical-align: top; margin: 0; }
.pre-check .myCheckbox span {width: 30px;height: 30px;display: block;background: url("../img/checkbox.png") no-repeat;}
.pre-check .myCheckbox input:checked + span {background: url("../img/check.png") no-repeat;}
.pre-check .checkbox-text {display: inline-block; width:70%; margin: 5px 0 0px 5px; color: #0f0f0f; font-size: 1.1em; font-family: 'ITCKabelStdBook'; font-weight: 500; vertical-align: middle;     text-overflow: ellipsis; /*white-space: nowrap; overflow: hidden;*/}
.bg-light{background:rgba(255,255,255,0.8);}

/********custom radio***********/

.cus-radio-list.control-group {background: #fff none repeat scroll 0 0; border-radius: 6px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); margin: 10px 40px; padding: 10px; text-align: left; vertical-align: top; min-height: 900px; color: #121111; } 
.cus-radio-list .control {display: inline-block; position: relative; padding-left: 34px; cursor: pointer; font-size: 1em; font-weight: normal; padding-top: 3px; }
.cus-radio-list .control input {position: absolute; z-index: -1; opacity: 0; }
.cus-radio-list .control__indicator {background: #fff none repeat scroll 0 0; height: 25px; left: 0; position: absolute; top: 2px; width: 25px; border:1px solid #1adf1f; }
.cus-radio-list .control--radio .control__indicator {border-radius: 50%; }
.cus-radio-list .control input:checked ~ .control__indicator {background: #fff; }
.cus-radio-list .control__indicator:after {content: ''; position: absolute; display: none; }
.cus-radio-list .control input:checked ~ .control__indicator:after {display: block; }
.cus-radio-list .control--radio .control__indicator:after {background: #1adf1f none repeat scroll 0 0; border-radius: 50%; height: 17px; left: 3px; top: 3px; width: 17px; }




/*popover*/
/*.popover{min-height: 100px; height: auto;  width: 150px; top: 10%;  right: 5px !important;  opacity: 99;   left: auto!important;}*/
.popover{min-height: 100px; height: auto;  width: 150px; top: 10%;  right: 5px !important;  opacity: 99;  }
.popover .item{padding: 10px 16px!important;  font-size: 14px!important;}
.platform-ios .popover-arrow{right: 10px;}


/************** OTP verification *************/
.otp-block2 label.item{width: 20%; display:inline-block; margin: 0 5px; padding: 0 10px; background-image: url(../img/border-btm.png);}
.otp-block2 .form-block {width: 280px !important; margin: 52% auto 0; }
.otp-block2 label.item input{text-align: center;}
.otp{margin: 0 0 20px;}


.form-block .item.red-bdr{background-image: url('../img/border-red.png');}
.language-block .form-block .item.red-bdr{background-image: url('../img/bdr3-red.png');}
.otp-block2 label.item.red-bdr{background-image: url('../img/border-bottom-red.png');}


/*------------ height -----------*/
.heightblk-2 .leftpart{display: inline-block;  vertical-align: top;  width: 80%;}
.heightblk-2 .rightpart{bottom: 10px;  position: absolute;  right: 0;  width: 20%;}
.heightblk-2 .rightpart a{color: #1adf1f; text-decoration: underline;  font-family: "ITCKabelStdMedium";  font-size: 1.2em;  font-weight: 400;}
.heightblk-2 { position: relative; padding:0 10px;}
.heightblk-2 .leftpart   .ft-view{display: inline-block;  max-width: 80px;  vertical-align: top;  width: 100%;}
.heightblk-2 .leftpart   .ft-view input{background:url(../img/heightborder.png)no-repeat left bottom; font-size: 1em; font-family: 'ITCKabelStdBook'; font-weight: 500; background-size: 100%; padding: 0 5px !important;  text-align: center;}
.heightblk-2 .leftpart   .ft-view span{text-align:center; font-family: 'ITCKabelStdBook'; width: 100%; font-weight:300;}
.heightblk-3 .date{font-family: "ITCKabelStdMedium";   font-weight: 300; font-size:1.3em;}
.heightblk-3 .date img{display: inline-block; height: 25px; margin: 0 0 0 5px; vertical-align: middle;  width: 25px;}
.heightblk-4 img{width:100%; height:100%; padding: 1em 1em 0;}
.record .btn-green-share{padding: 2px 25px !important;}
.heightblk-5.form-block{margin: 0 auto; width: 95%;}
.heightblk-6 .top{background:rgba(0,0,0,0.1);}
.heightblk-6 .top .col{text-align:center; font-family: 'MyriadProRegular';  font-size: 1.2em;  font-weight: 400;}
.heightblk-6 .bottom .col-center{text-align:center; font-family: "ITCKabelStdMedium"; font-size: 1.2em;  font-weight: 400; color:#0f0f0f;}
.circle-s{border-radius: 100%;  height: 55px;  padding: 5px;  text-align: center;  width: 55px; margin: 0 auto;}
.blue-circle{background:#00d8ff; color:#fff;}
.circle-s .month{font-size: 0.9em; line-height: 12px;  font-weight: 800;}
.circle-s .year{font-family: "ITCKabelStdBook";  font-size: 0.8em;  font-weight: 400;}
.circle-s .date{font-size: 0.9em; line-height: 16px;  font-weight: 400;}
.green-circle{background:#1adf1f; color:#fff;}
.heightblk-6 .bottom .odd{background:rgba(0,0,0,0.06);}
.heightblk-6 .bottom .even{background:rgba(0,0,0,0);}
.height-main .timeline-a{padding: 0;}
.heightblk-6 .bottom .row + .row {margin-top: 0;  padding-top: 0;}
.ft-view ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #3b3b3b; } 
.ft-view ::-moz-placeholder { /* Firefox 19+ */ color: #3b3b3b; }
.ft-view :-ms-input-placeholder { /* IE 10+ */ color: #3b3b3b; }
.ft-view :-moz-placeholder { /* Firefox 18- */ color: #3b3b3b; }

/*------------ waist -----------*/
.see-notes{font-size: 0.85em; margin: 8px 0 0 0; font-weight: 600; letter-spacing: 0.4px;}
.w-time{font-size: 0.85em;}

.heightblk-3 .date img.dt_icn{height: auto; width: 28px; margin-top: 5px;}


/*-------------        Doctor Profile          -----------*/
.profiledoc-1{position:relative;}
.profiledoc-1 .profileimg{position:absolute; right:5%;   text-align: center;  top:-5px;}
.profiledoc-1 .profileimg .titile{color:#00d8ff;   font-weight: 300;}
.profiledoc-1 .profileimg img{width:30px; height:30px;}
.profiledoc-1 .profileqr{margin: 2em 0 0;   text-align: center;}
.profiledoc-1 .profileqr .img-pro img{width:120px; height:120px; border-radius:100%; border:5px solid #d8d8d8;}
.profiledoc-1 .profileqr .titile{color:#000; font-size:1.3em; font-weight:300; padding:5px 0 0 0;}
.profiledoc-2 a{background:#fff; font-family: "ITCKabelStdBook";  border:1px solid #00d8ff; border-radius: 3px;  color: #00d8ff;  font-weight: 400;  padding: 5px 10px;}
.profiledoc-2 a:nth-child(1){    font-size: 1.14em; padding: 6.5px 10px; background-color: transparent;}
.profiledoc-2 a:nth-child(2){font-family: 'MyriadProRegular'; font-weight: 300; font-size: 1.1em;}
.profiledoc-2 a i{font-size: 1.5em; font-weight: 800; padding: 0 0 0 5px; display: inline-block; vertical-align: middle;}
.profiledoc-2 {margin:2em 0; text-align:right;}
.profiledoc-2  .views{display:inline-block; vertical-align:top;}
.profiledoc-2 .share-s{margin:0 5px 0 0;}
.profiledoc-2  .info-share{background:#8b8b8b; color:#fff; border-color:#8b8b8b; border-radius:0;}
.sendreq a{text-align:center; color:#37c837; font-family: "ITCKabelStdMedium";   font-weight: 500;  font-size: 1.3em;}
.sendreq{text-align:center;  margin: 2em 0;}
.send-data label{display: inline-block;  font-size: 1.1em;  vertical-align: top;  width:36%; font-family: "ITCKabelStdMedium";   font-weight: 500;}
.send-data span{display: inline-block;  text-align: right; font-family: "ITCKabelStdBook"; font-weight: 500; font-size:1.1em;  vertical-align: top;  width: 60%; font-weight:normal;  white-space: normal;}
.send-data .item{padding:16px 10px;}


/********************* Popup ********************/

/************** rider *************/
.popup-head{padding: 0;}
.popup-container .popup{background-color: rgba(255, 255, 255, 1); width: 90%;}
.popup-content{padding: 15px 8px 8px 8px; max-height: 300px;}
.popup-content .form-block{margin: 0; width: 100%;}
.rider .popup-content .form-block{margin: 2em 0 0 !important;}
.rider .popup-content .form-block .item{padding: 6px 16px 3px 16px;}
.rider-heading{font-size: 2em; font-family: "ITCKabelStdBook"; font-weight: 500; position: relative;}
.btn-popup{padding: 0;}
.btn-popup .col:nth-child(1){padding: 5px 10px 5px 0;}
.btn-popup .col:nth-child(2){padding: 5px 0px 5px 10px;}
.btn-popup{margin: 20px 0 0 0;}
.btn-popup button{margin: 0 !important; font-family: "ITCKabelStdBook"; font-weight: 500; font-size:1.4em !important; letter-spacing: 0.3px;}
.logout_icn_p{width: 32px; position: absolute; right: 0; top: 2px;}

/************** sharing-filter *************/
.filter-popup .calendar-i{background-size: 22px; padding-right: 26px !important;}
.filter-popup .popup-content .form-block .item{padding: 6px 8px 3px 8px;}
.from-to-block1{padding:0;}
.from-to-block1 .col:nth-child(1){padding: 0 5px 0 0;}
.from-to-block1 .col:nth-child(2){padding: 0 0 0 5px;}
.filter-popup .btn-popup{padding: 0 5px;}

/**************height - notes-popup *************/
.notes-popup .btn-popup{margin: 10px 0 0 0;}
.textarea-block textarea{width: 100%; height: 80px; border: 1px solid #ccc; border-radius: 2px; resize: none; padding: 8px 10px; font-family: "ITCKabelStdBook"; font-weight: 500; font-size:1.2em !important;}

/************** address-popup *************/
.address-popup .form-block .item{margin: 0 0 10px;}
.address-popup button{font-family: "ITCKabelStdBook" !important; font-weight: 500;}

/************** provider-popup *************/
.provider-heading{font-family: 'MyriadProRegular'; font-weight: 500; font-size: 1.8em; text-align: center;}
.provider-popup .pre-existing-block .item{padding: 2px 0; border:0;}
.provider-popup .pre-check{padding: 0; width: 100%;}
.provider-popup .pre-check .checkbox-text{font-family: 'MyriadProRegular'; font-weight: 500; font-size: 1.25em; margin: 4px 0 0px 5px;}
.provider-popup .pre-check .myCheckbox span{background: url(../img/checkbox-sm.png) no-repeat;}
.provider-popup .pre-check .myCheckbox input:checked + span {background: url(../img/check-sm.png) no-repeat; }
.provider-popup .btn-popup{margin: 0;}

/************** health-condition (date of cure) *************/
.heading-pop-a{font-family: 'MyriadProRegular'; font-weight: 500; font-size: 1.5em; text-align: center; margin: 0 0 10px;}
.date-block-popup{text-align: center; font-family: "ITCKabelStdBook" !important; font-weight: 500; font-size:1.6em; margin: 32px 0;}
.date-block-popup img{width: 26px; display: inline-block; vertical-align: middle; margin: -2px 0 0 8px;}

/************** health-condition (date of finding) *************/
.datefinding-popup .date-block-popup{text-align: left; padding: 0 0 0 12px; font-size: 1.35em;}

.datefinding-popup.popup-container.popup-showing{z-index: 4;}
.backdrop.active{z-index: 4;}

/************** allergy2 (date of finding) *************/
.allergy2-pop .date-block-popup{margin: 20px 0 10px;}


/*.popover-open .popover{width: 80%; min-height:95px;}*/
/*.popover-arrow{right: 5%!important;  left: auto!important;}*/


/****************   date picker code    **************/

.dob-date-picker.popover{background:#fff !important; color:#000;width: 200px !important;max-width: 200px!important;margin: 0px auto;opacity: 1;height:240px!important;}
.platform-ios .popover-arrow::after{background:#fff !important;}
.datetimepicker .day{padding: 3px;line-height: 1.4em;vertical-align: top;font-size: 18px;}
.datetimepicker table tr td.active.active{background:#fff!important; color:#000;}
.dob-date-picker.popover{margin-left: 0px !important; opacity: 1 !important;}
.datetimepicker table{width:100%!important;}
.datetimepicker{width:auto!important;}


.allergy-list .list{box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.2);}
.allergy-list .item{background: transparent; border-bottom: 1px solid #ddd; margin: 0; font-size: 1.2em; font-family: 'ITCKabelStdBook'; font-weight: 500; padding: 11px 10px 8px;}
.allergy-list .item:last-child{border:0;}

.home-label{padding-right:0 !important; width:100% !important; margin-bottom: 10px;}
.home-label:after{content:'';}




/*.mobnum-s{width:90%; margin:0 0 0 30px;}*/
.mobnum-s{margin:0 0 0 20px;}
form-block. .mobnum-s.icn-left .item{padding: 6px 16px 12px 25px;}
.platform-android .bar .title.title-left{text-align:center!important; left:0!important;}
.platform-android .popover{margin-top:0 !important;}
.timeline-content{}
.myQRcode-can img{margin: 20px auto;}



/* Anoop's CSS*/
.clock-a{background-size:21px!important; padding-right:25px!important;}
.upld-ion .list{margin-top: -10px;}

/* 07/03/2017 */
.popup-content.pop-helthCond .btn-popup .col:nth-child(1){padding: 5px 5px 5px 0;}
.popup-content.pop-helthCond .btn-popup .col:nth-child(2){padding: 5px 5px 5px 0;}
.popup-content.pop-helthCond .btn-popup .btn-green{font-size: 0.8em !important;padding: 0 5px;border-radius: 0;font-weight: 600;min-height:30px;line-height: 25px;}
.helCon-pop .popup-content.pop-helthCond .btn-popup{margin: 0;}
.helCon-pop.popover .item{padding: 0 !important;border: none;}
ion-popover-view.helCon-pop.popover.none.ng-enter.active.ng-enter-active{left:6px !important;}


.datetimepicker .left i:after{content:"<"; font-size: 1.6em; background: #1adf1f; color: #fff;
padding: 0 5px; border-radius: 5px;}
.datetimepicker .right i:after{content:">"; font-size: 1.6em; background: #1adf1f; color: #fff;
padding: 0 5px; border-radius: 5px;}

.allergy2-pop .btn-popup.dte-txt{margin: 5px 0 15px 12px;}
.hlth-cond .btn-popup.dte-txt{margin: 5px 0 15px 12px;}
.hlth-cond .date-block-popup.dte-show{margin: 20px 0 10px;}

/* 08/03/2017 */
.more-btn{text-align:right; padding-right:2.7em;}
.settings_CR .label-a:after{display: none;}
.settings_CR .label-a, .settings_CR .span-a{vertical-align: top;  line-height: 1em;}
.settings_CR .span-a{font-size: 0.94em;}
.date-time-p span{display: inline-block; vertical-align: middle; font-size: 0.85em;}
.date-time-p span:after{content: '|'; padding: 0 0px 0 5px; color: #444;}
.date-time-p span:last-child:after{display: none;}
.span-psr{text-decoration: underline; font-style: italic;}

/****************   view-e-prescription    **************/
.view-prescription .item{border: 0; background-color: transparent; white-space: normal;}
.view-prescription .txt{font-size: 1.2em;}
.p-0{padding: 0 !important;}
.item.block-ndg{padding: 0 10px;}
.heading.heading-left{text-align: left; margin: 10px 16px; padding-bottom: 0; font-size: 1.4em;}
.vitals-info-block .item{padding: 0px 10px !important; font-size: 0.98em;}
.vitals-info-block .item .date-time-p.txt{font-size: 1.07em; text-align: right;}
.vitals-info-block .item .col{padding: 2px;}
.numbered-list{padding-left: 20px; list-style-type: decimal;}
.numbered-list li.txt+li.txt{margin-top: 12px;}
.order-li-block .item{padding: 5px 16px;}
.medical-block-view .item{padding: 5px 16px 5px 35px;}
.medicine-timing-psr{display: inline-block; background-color: #1ADF1F; color: #fff; width: 26px; margin: 5px 2px 8px; height: 27px; line-height: 29px; text-align: center; font-size: 1.2em; font-family: 'ITCKabelStdBook'; font-weight: 500; border-radius: 3px; -webkit-box-shadow: 1px 2px 0.5px 0px rgba(15,143,18,1); -moz-box-shadow: 1px 2px 0.5px 0px rgba(15,143,18,1); box-shadow: 1px 2px 0.5px 0px rgba(15,143,18,1);}
.view-prescription{padding: 0 0 10px;}
.meal-tming-psr{padding: 5px 0; line-height: 30px;}

/****************   e-prescription_CR    **************/
.e-prescription_CR .item{background-color: transparent; border: 0;}
.e-prescription_CR .form-block{width: 85%; margin: 0 auto 15px;}
.f-left{float: left;}
.middle{vertical-align: middle !important;}
.year-psr{width: 45px;}
.age-psr{width: 80px; margin-right: 8px;}
.m-0{margin: 0 !important;}
.form-block.form-block-icon{width: 100%; margin: 0;}
.form-block.form-block-icon .add-g{width: 30px; right: 0px; top: 7px;}
.minus_icn{position: relative; padding-right: 40px;}
.minus-r{position: absolute; width: 30px; right: 0px; top: -4px;}
.form-block-icon .info-blocks .item{margin-right: 40px;}
.e-prescription_CR .medical-block-view .form-block.form-block-icon .item {padding: 5px 16px 5px 16px;}
.refrences-psr .li-content{padding: 5px 0;}
.m-b-10{margin-bottom: 10px;}
.icn_2{padding-right: 80px !important;}
.minus-r2{position: absolute; width: 25px; right: 40px; top: -1px;}

/****************   e-prescription_CR    **************/
.self-defining-psr .row3-a{width: 53%; float: left;}
/*.self-defining-psr.heading-item .checkbox, .self-defining-psr.form-txt1 .pre-check .checkbox-text{width: auto !important;}*/
.self-defining-psr .row4-a{float: left; width: 47%;}
.medicine-time-section .start-date{font-size: 0.94em;}
.form-i-psr .custom-select{padding: 0 24px 0 0; height: 25px; line-height: 25px;}
.form-block .form-i-psr .item-select:after{right: 6px; top: 11px;}

/****************   doctor's profile    **************/
.profiledoc-2_CR{margin: 1em 0 2em; text-align: center;}
.profiledoc-2.profiledoc-2_CR  .info-share{background-color: #8b8b8b !important;}
.weight300{font-family: "ITCKabelStdBook"; line-height: 15px;}
.item.data-item label{width: 60px;}
.item.data-item span{width: calc(100% - 70px);}
.send-data .item{background-color: transparent;}

/****************   add-vitals    **************/
.vitals-block_CR .info-blocks .date-time-p.txt{font-size: 1.1em; line-height: 20px;}
.vitals-block_CR .info-blocks{margin: 0 0 0 4%;}
.vitals-block_CR .block-txt-psr{width: 145px; margin: 5px 0 0 0;}
.vitals-block_CR .block-input-psr{width: calc(100% - 145px);}
.vitals-block.vitals-block_CR .signup-formblk .info-blocks label.item{margin: 0 52px 10px 5%;}
.vitals-block_CR .unit{width: 41px;}
.vitals-block_CR .form-blocks-r .info-blocks{margin: 5px 52px 12px 4%;}
.vitals-block_CR .form-blocks-r .unit{right: -47px;}

/****************   document-list    **************/
.btn_CR .btn-outline-share{float: none; margin: 0 10px 0 0; font-size: 1.2em !important; line-height: 33px;}
.block-numbered-list{list-style-type: decimal;}
.document-list-psr .item{position: relative; padding: 14px 16px 14px 35px;}
.custom-item{padding: 14px 16px; border: 1px solid #ddd; margin: -1px;}
.sr-no{position: absolute; left: 8px; top: 14px; font-family: 'ITCKabelStdMedium'; font-size: 1em;}
.inner-item .label-a:after{display: none;}
.inner-item .label-a{ width: 50%; vertical-align: top; font-size: 1em; padding-right: 5px;}
.inner-item .span-a{text-align: left; width: 50%; vertical-align: top; line-height: 1.42857; font-size: 1em;}
.light-font{font-family: 'ITCKabelStdBook' !important; font-weight: 300;}
.txt-decoration{text-decoration: underline;}
.inner-item .date-time-p{font-size: 1.03em;}
.inner-item .date-time-p.date-time-p-sm{font-size: 0.9em; line-height: 15px;}
.uploaded-by{font-size: 0.96em;}

/****************   patient-list   **************/
.span-a.right{text-align: right;}
.group_icn{position: absolute; left: -29px;}
.patient-list-CR .inner-item .span-a{width: 117px; float: left; font-size: 0.85em;}
.patient-list-CR .inner-item .label-a{width: calc(100% - 117px); float: left; font-size: 0.85em;}
.patient-name_psr .dot{position: absolute; right: -8px; top: -8px; left: auto; width: 11px; height: 11px;}
.patient-list-CR .document-list-psr .item{padding: 14px 16px 6px 35px;}
.patient-list-CR .sr-no{font-size: 0.85em;}


/* Anoop 08 Mar 2017 */
.m-active{background-color: #606b61 !important;}
.a-active{background-color: #606b61 !important;}
.e-active{background-color: #606b61 !important;}
.n-active{background-color: #606b61 !important;}

/* 10/03/2017 */
.inactive-row{background-color: #f1f1f1 !important;}
.additionInfo{background:#00d8ff;color:#fff;width:55%;font-size:15px;float:right;height:25px;font-weight:600;text-align:center;padding:2px;margin-right:10px;border-radius:5px;}

/* CSS for carousel 20/03/2017 */
.carousel-demo {
    margin-top:20px;
    display:inline-block;
    text-align: center;
}
.carousel-demo-fullscreen {
  width:100%;
  height:100%;
}
.carousel-demo-fullscreen ul[rn-carousel] {
  width:100%;
  height:100%;
}

input.tiny {
    width:50px;
    text-align:center;
}


.carousel-demo ul[rn-carousel-transition="hexagon"] {
  margin-left:100px;
}

.carousel5 li {
    width:100%;
    height:100%;
    font-size:30px;
    background-color: #ccc;
}

.bgimage {
    text-align:right;
    color:white;
    background-size:cover;
    height: 100%;
    background-position: center center;
}



.sa-slider img{height:100px!important; width:100px!important; max-width:100%; border:1px solid #ddd; border-radius:100%;}
.slider-sa{width:50%; margin:0 auto; min-height: 230px; padding: 7px 0 0; text-align: center;}
.slider-sa li{width:100px; height:100px;}
.nav-bar-block, .bar {
  background-color: inherit !important;
}
.bar.bar-stable .title{color: #fff;}
.bar-stable .button.button-clear{color: #fff;}
.slder-tle{color: #fff; font-size: 1.2em; font-weight: 500;}


/* 23/03/2017 */
.image-g {display: inline-block; width: 80px; padding: 5px; position: relative;}
/*.image-g img{height: 60px;}*/
.image-g canvas{height: 60px;}
.image-center{text-align: left;}
.cros-icn-a i{font-size: 1.4em;}
.cros-icn-a{width: 30px; height: 30px; line-height: 30px; text-align: center; position: absolute; right: -8px; top: -8px;}


/* 24/03/2017 */
.rept-date{background: url(../img/date_time_icn.png) 100% 90% / 35px no-repeat; width: 100%; font-size: 1.4em !important; font-weight: 400; font-family: 'ITCKabelStdBook';}

.doc-a {display: inline-block; width: 100%; padding: 5px; position: relative;}
.doc-title{background: #ededed; background: #ededed; font-size: 1.3em; font-weight: 400; font-family: 'ITCKabelStdBook';}
.doc-title i{padding: 5px;}


.block-ls .span2.newspan2{color: #727272; text-align: right; font-size: 0.9em; float: right; font-family: 'ITCKabelStdBook';
font-weight: 300;}


.profiledoc-2.proshare-s .views{margin: 0 3px; padding: 5px 5px; line-height: 30px;}

.profiledoc-2.proshare-s .views.share-s{position: relative; padding: 5px 15px 5px 5px;}
.profiledoc-2.proshare-s .views.share-s .share-b{position: relative; right: -10px;}

/* 29/03/2017 */

.actSel_row{background: #828a80 !important;}
.actQuickFilter{background:#828a80; border-radius: 5px;}
/* 01/04/2017 */
.alt-no{display:inline-block;}
.alt-no label{width: 50%;}


/* 04/04/2017 */
  .form-block-new { width: 80%;    margin: 0 auto;}
.form-block-new .cus-radio-list{display:inline-block;  vertical-align:top;  width:45%;  margin:5px;}
.form-block-new .cus-radio-list label{width:100%!important;}
.form-block-new .checkbox-text .form-block{width:100%; margin:0; padding:0;}
.form-block-new .checkbox-text .form-block label{padding-left:10px;}

/* 05/04/2017 */
.timeLine-pop .popup-content.pop-helthCond .btn-popup{margin: 0;}
.timeLine-pop.popover .item{padding: 0 !important;border: none;}
/*ion-popover-view.timeLine-pop.popover.none.ng-enter.active.ng-enter-active{left:6px !important;}*/

/* 06/04/2017 */
.img-modal{background-color: rgba(11, 22, 34, 0.61);}
.gray_ed1{position:absolute;  top:25%;}
.custom-slider-new{height: 60vh;}
.custom-slider-new .slider-pager{}
.clo-btn1{position:absolute; right:0; top:50px; color:#fff; font-size:2em;}

/* 11/04/2016*/
.icn_left_a{position: absolute; left: -20px; top: 9px; font-size: 1.8em;}
.icn_left_a.ion-alert-circled{color: #ff0000;}
.icn_left_a.ion-ios-checkmark{color: #00ff00;}

.icn_left_pass{position: absolute; left: 10px; top: 9px; font-size: 1.8em;}
.icn_left_pass.ion-alert-circled{color: #ff0000;}
.icn_left_pass.ion-ios-checkmark{color: #00ff00;}

/* 12/04/2017 */
.form-block.icon-form-block{width: 100%;}
.form-block.icon-form-block .item{margin: 0 2.5em 5px;}
.allergy-item{position: relative;}
.icn_allergy_right{position: absolute; right: 10px; top: 5px; font-size: 1.6em; color: #ff0000;}
.allergy-item .list-no{position: absolute; left: 10px; font-size: 1.4em; top: 10px; width: 26px; text-align: center; font-weight: 300;}


.allergy-list-a{border-bottom: 1px solid #ddd; padding: 0 0 15px;}
.allergy-button, .form-block.icon-form-block .allergy-list .list{margin: 0 2.5em;}
.form-block.icon-form-block .allergy-list .item{margin: 0;}

.pre-existing-block .form-block .info-blocks.allergy-item{margin: 0 1em 0 0;}
.pre-existing-block .form-block .info-blocks.allergy-item .item{margin: 0 1em 5px 2.5em;}
.pre-existing-block .form-block .info-blocks.allergy-item .add-g{position: absolute; right: -15px;top: 10px; width: 20px;}
.icn_allergy_rightA{position: absolute; right: -15px; top: 10px; font-size: 1.6em; color: #ff0000;}

/* 17/04/2017 */
.date-time_bp{background: url(../img/date_time_icn.png) 100% 60% / 25px no-repeat; width: 100%; font-size: 0.9em !important; font-weight: 500; font-family: 'ITCKabelStdBook';}
.note-content{text-decoration: underline; color: #1adf1f; font-weight: 600;}

.date-time_bp_toFrom{background: url(../img/date_time_icn.png) 100% 60% / 25px no-repeat; width: 100%; font-size: 0.85em !important; font-weight: 500; font-family: 'ITCKabelStdBook';}

.eye-popup.popup-container{z-index: 4;}
.eye-popup .table-block th{background-color: #24DDFF;}
.eye-popup.popup-container .popup {width: 93%;}
.eye-popup .heading-pop-a{font-size: 1.5em; margin: 10px 0;}
.eye-popup .date-block-popup{font-size: 1.4em; margin: 16px 0;}

ion-popover-view.helCon-pop.presPop.popover.none.ng-enter.active.ng-enter-active{left: 25px !important;}

ion-popover-view.helCon-pop.typePop.popover.none.ng-enter.active.ng-enter-active{left: 165px !important;}

.text-sm-block{margin: 5px 0 0 0;}
.text-sm-block .txt-sm {font-size:0.9em;}
.imgdata-s{padding:0 5px!important;}

.blue-underLine{color:#00d8ff;}
.green-underLine{color:#1adf1f;}


.grid-imga img{height: 50px; max-width: 100%; min-height: 50px;}
.modal-aa img{height: 50vh;}
.upload-d-block .image-center .image-g img{min-height:60px; height: 60px; width:100%;}
.date-divDoc .item{padding: 6px 10px 7px 10px;}

.preExist-a .myCheckbox span{width:40px; height:40px;}
.userfull-n{text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: inline-block; width: 65%; vertical-align: top;} 
.userbdgrp{width: 35%; display: block; text-align: right; float: right;}


/*****remonder popup on add vaccination screen******/
.remind-popup .popup-content .form-block{text-align: center;}
.remind-popup .popup-content .form-block label{font-size: 18px;}
.remind-popup .date-block-popup{font-size: 1.4em;}
.remind-popup.popup-container.popup-showing{z-index: 4;}
.remind-popup .date-block-popup{margin: 25px 0;}

/*****dose popup on add vaccination screen******/
.dose-popup .popup-content .form-block{text-align: center;}
.dose-popup .date-block-popup{margin: 25px 0;}
.dose-popup.popup-container.popup-showing{z-index: 4;}

.dose-popup .btn-sec{margin: 5px 0;}

.dose-popup .checkbox-block .control.control--radio{display: inline;padding: 7px 16px;margin: 0 10px;}
.dose-popup .textarea-block {margin: 20px 0 0;}
.dose-popup .checkbox-block .span-a{width: 100%;text-align: center;}

/* 02/05/2017 */
.icn_allergy_rightAA{position: absolute; right: 2px; top: 10px; font-size: 2.6em; color: #ff0000;}

/* 09/05/2017 */
.select-block-a.form-block{width: 100%; margin: 0; background: none;}
.settings-block .select-block-a.form-block .list-block .span-a .item{padding: 8px 16px 2px; margin-top: -10px;}
.settings-block .select-block-a.form-block .list-block > .item{background: none; margin: 0; border-bottom: 1px solid #ddd;
    padding: 10px 16px;}
.date-time-show{margin-top: 5px; font-size: 15px;}
.date-time_bp-P{background: url(../img/date_time_icn.png) 100% 60% / 25px no-repeat; width: 100%; font-size: 0.9em !important; font-weight: 500; font-family: 'ITCKabelStdBook';}

.date-time_picker_to{background: url(../img/date_time_icn.png) 100% 60% / 25px no-repeat; width: 100%; font-size:1em !important; font-weight: 500; font-family: 'ITCKabelStdBook';}
.date-time_picker_from{background: url(../img/date_time_icn.png) 100% 60% / 25px no-repeat; width: 100%; font-size: 1em !important; font-weight: 500; font-family: 'ITCKabelStdBook';}

.datemanat-n label{display: inline-block; width:80px;  vertical-align:middle; font-size:1.1em;  line-height:33px;  font-family: 'ITCKabelStdBook';}
.borbottom-ns{background: url(../img/border.png)no-repeat; position: relative; background-size: 100%; border: 0;  background-position: 0 100%; padding: 6px 16px 7px 16px; float: right; width: calc(100% - 80px); padding: 0 0.5em!important; font-size: 1em;}

.quick-fltr{font-size: 1.1em; font-family: 'ITCKabelStdBook'; text-align: center; font-weight: normal;}


.date-time_bp-PH{background: url(../img/calendar.png) 95% 60% / 25px no-repeat; width: 100%; font-size: 0.9em !important; font-weight: 500; font-family: 'ITCKabelStdBook';}
.date_picker_from, .date_picker_to{background: url(../img/calendar.png) 100% 60% / 25px no-repeat; width: 100%; font-size:1em !important; font-weight: 500; font-family: 'ITCKabelStdBook';}

.date-time_tempFrom{background: url(../img/calendar.png) 95% 6% / 25px no-repeat; width: 100%; font-size: 1.2em !important; font-weight: 500; font-family: 'ITCKabelStdBook';}
.date-time_tempTo{background: url(../img/calendar.png) 95% 6% / 25px no-repeat; width: 100%; font-size: 1.2em !important; font-weight: 500; font-family: 'ITCKabelStdBook';}

.date-time_selectDate{background: url(../img/calendar.png) 73% 6% / 25px no-repeat; width: 100%; font-size: 1em !important; font-weight: 500; font-family: 'ITCKabelStdBook'; text-align: left; padding-left: 4em !important;}

.set-mobi input{display: inline-block; width:25px!important; vertical-align: middle; margin: 0 0 0 6px;}

.date_bp{background: url(../img/calendar.png) 90% 50% / 25px no-repeat; width: 100%; font-weight: bold; font-family: 'ITCKabelStdBook'; font-size: 1em !important; line-height: 35px !important;}

.edit-p-date{background: url('../img/calendar.png')no-repeat; display: inline-block; line-height: 30px; font-family: 'ITCKabelStdMedium'; font-size: 1.15em; font-weight: normal; background-size: 26px; background-position: 100% 35%;}

.brk-wrd{word-break: break-all;}


/*.disable-div{opacity: .4; cursor: default !important; pointer-events: none;}*/


.med-pop input::placeholder {color: #000000;}
.mob-m-b{margin-bottom: 24px;}
.maen-list li:first-child{margin-left: 0;}
.maen-list li:last-child{margin-right: 0;}



@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .maen-list li{margin: 0 10px;}
}

.med-pop input[disabled], select[disabled], textarea[disabled], input[readonly]:not(.cloned-text-input), textarea[readonly]:not(.cloned-text-input), select[readonly]{background-color: #fff;}


/* Popup for select contact*/
/*.req-arr-popup.popup-container .popup{width:300px;background-color: rgba(255, 255, 255, 1);} 
.req-arr-popup.popup-container .popup .popup-head{background: #8c0f24; opacity:99; height:55px; font-size:1em; }
.req-arr-popup.popup-container .popup .popup-head h3{font-size: 2em;  color:#fff;}

.req-arr-popup.popup-container .popup label{display: inline-block; width: 100%; font-size: 1.5em; vertical-align: baseline; line-height: 34px; position: relative; vertical-align: middle;} 
.req-arr-popup.popup-container .popup span{display: inline-block; width: 48%; font-size: 1.4em; text-align: right; padding: 0 0 0 5px; vertical-align: middle;}

.acceptbtn-pop{background:#e5aa32!important; color:#fff; font-size: 1.5em; min-height: 45px!important; line-height: 60px!important;}
.declinebtn-pop{background:#880e27!important; color:#fff; font-size: 1.5em; min-height: 45px!important; line-height: 60px!important;}
.req-arr-popup.popup-container .popup .popup-buttons{width: 90%; margin: 0 auto;}*/
.review-rat .popup-head{position: relative;}
.rat-submit{background: #1adf1f !important; color: #fff; font-size: 1.5em; font-family: 'ITCKabelStdMedium'; padding-top: 5px;}
.can-rev{position: absolute; top: -17px; background: transparent !important; right:-20px; outline: 0 !important; border: 0 !important;}
.can-rev .ion-close-circled{color: #000; font-size: 1.5em;}

.req-arr-popup.popup-container .popup .popup-head{padding: 15px 10px;}
.req-arr-popup.popup-container .popup .popup-title{font-family: 'ITCKabelStdMedium'; color: #00d8ff; font-size: 1.5em;}


.cal-check-box{float: right; height: 20px; width: 20px;}
.pre-today-nxt{text-align:center; background:transparent; border-radius:50%; display: inline-block; width: 30px;   height: 30px; color: #fff;}
.pre-today-nxt i{color: #fff; font-size: 18px;}
.pre-today-nxt.today{display: block;width: 100px; border-radius: 15px;}
.pre-today-nxt button{color: #fff; line-height: 32px; padding: 0; font-weight: 600; border: 0; background-color: transparent;}
.pre-today-nxt.today button{line-height: 30px;}
.month_a{font-family: 'ITCKabelStdMedium';  font-size: 1.35em; margin: 15px 0 0px !important; text-align: center;}
.my_calendar{text-align: center;}

/* 24/05/2017 */
.item-overflw{overflow: inherit;}

/* 26/05/2017 */
.clr-gry{color: #505050;}

/* 29/05/2017 */
.pd-lft-0{padding-left: 15px;}
.sort-long-data{position: relative; padding: 6px 0;}

/* 06/06/2017 */
.famly-tab{padding:5px 10px; margin:0; list-style-type:none; text-align:left;}
.calendar_ff{width: 20px;}

/* 12/06/2017 */
.eye-dt-uline{background: url(../img/border.png)no-repeat; background-size: 95%; background-position: 0 100%;}
.dbl-uline{background-image: url(../img/bdr3.png);}

.pop-date-timeline{top:30% !important; left:6px !important; margin-left:0px !important; opacity:1 !important; width: 200px;}

.date-time_time_from{background: url(../img/date_time_icn.png) 100% 60% / 25px no-repeat; width: 100%; font-weight: 500; font-family: 'ITCKabelStdBook';}

.date-time_time_to{background: url(../img/date_time_icn.png) 100% 60% / 25px no-repeat; width: 100%; font-weight: 500; font-family: 'ITCKabelStdBook';}
.btn-timeline-date{background-color:#1adf1f !important;; color:#fff !important;; font-family:'ITCKabelStdMedium'; font-size:1em !important; line-height:14px; min-height: 35px;}

.lst-icn{float: right;}
.share-detail .rel-checkbox .item.heading-item{ padding: 12px 16px 12px 60px; line-height: 25px; border: 0;}
.share-detail .rel-checkbox .heading-checkbox{padding: 0; position: absolute; z-index: 99; left: 16px; top: 10px;}
.rel-checkbox ion-item.item-accordion.item{border: 0; width: 50%; display: inline-block; vertical-align: top; padding: 10px 30px;}
.rel-checkbox ion-item.item-accordion.item:nth-child(odd){padding-right: 5px;}
.rel-checkbox ion-item.item-accordion.item:nth-child(even){padding-left: 5px;}
.rel-checkbox ion-item.item-accordion.item .checkbox{width: 100%;}
.share-checkbox .group:nth-child(even) .rel-checkbox .item.heading-item{background-color: #fff !important;}
.rel-checkbox ion-item.item-accordion.item.item_form{width: 100%; padding: 0px 30px !important;}
.doc-center .grid-imga{width: 100%;}

.btn-applyCan{padding: 0;}

/* 20/06/2017 */
.pop-date-share{top:15% !important; left:6px !important; margin-left:0px !important; opacity:1 !important; width: 200px;}

/* 28/06/2017 */
.p-d-12{padding: 0 12px;}
.icn_share_right{position: absolute; right: 15px; top: 20px; font-size: 1.6em; color: #ff0000;}
.share-main{position: relative;}

/* 01/07/2017 */
.status-div{text-align: center; font-family: 'ITCKabelStdMedium'; font-size: 1.4em;}
.access-div{color: #00d8ff; text-decoration: underline; padding-top: 5px;}

.permission .popup-buttons{min-height: 0; padding: 0;}
.permission .popup-head{display: none;}
.permission-hdng{font-family: 'ITCKabelStdMedium'; text-align: center; font-size: 1.8em; padding: 15px 0; font-weight: 300; color: #222; min-height: 50px;}
.permission .rat-submit{font-size: 13px; line-height: 25px; min-height: 30px; width: 100%;}
.permission .rat-submit:hover, .permission .rat-submit.activated{background: #1adf1f !important; color: #fff;}

/* 10/07/2017 */

.btn-dis{background: transparent; border: none; padding: 0;}

.bar .button.button-icon.logo-btn.activated{opacity: 1;}   
.bottom-list .label-a, .bottom-list .span-a{vertical-align: bottom !important; float: none;}
.bottom-list .span-a{width: 45%;}
.bottom-list .font-xx{font-size: 1.2em !important; margin: 0 0 5px;}
.bottom-list .font-x{font-size: 1em; font-weight: 500; padding: 2px 0;}
.font-sma{font-size: 0.85em;}

/* 14/07/2017 */
.permission-a .popup-buttons{min-height: 0; padding: 0;}
.permission-a .popup-head{display: none;}
.permission-hdng-a{font-family: 'ITCKabelStdMedium'; text-align: center; font-size: 1.5em; padding: 15px 0; font-weight: 300; color: #424242; min-height: 50px;}
.permission-a .rat-submit{font-size: 20px; line-height: 30px; min-height: 30px; width: 100%;}
.permission-a .rat-submit:hover, .permission .rat-submit.activated{background: #1adf1f !important; color: #fff;}
.alt-div{background: rgba(0, 0, 0, 0.3);}
.nine-one_altNo{background-color: #e4e4e4; width: 30px; height: 30px; line-height: 35px; text-align: center; font-size: 1em; font-family: 'ITCKabelStdBook'; border-radius: 50%; position: absolute; left: 120px; top: 18px;}
.unit-lbl{display: inline-block; vertical-align: middle; margin: 14px 0 0 8px; font-family: 'ITCKabelStdBook';}
.notes-vacDoc{display: inline-block; float: right; font-size: 1em !important;}
.vaccine_CR .item.heading-item{background: rgba(232, 232, 232, 1) !important;}
.proshare-btn{background: #8b8b8b; color: #fff !important; border-color: #8b8b8b; border-radius: 0; white-space: nowrap;}
.btn_elipses.share-s{background:#fff;  border:1px solid #00d8ff; border-radius: 3px;  color: #00d8ff;  font-weight: 400;  padding: 5px 10px; background-color: transparent; margin: 0 !important;}
.btn_elipses span{display: inline-block; vertical-align: bottom; white-space: nowrap; width: calc(100% - 20px);overflow: hidden; text-overflow: ellipsis; font-family: "ITCKabelStdBook"; }
.btn_elipses{font-size: 1.05em;}
.brder-fr-chrt{border-bottom: 1px solid #ddd; margin: 0 0 6px;}
.mobile_no{position: relative; padding-left: 50px;}
.sel_one_a{margin-left: 20px; font-family: 'ITCKabelStdBook'; font-size: 1.1em;}
.rsp_notes{text-decoration: underline; color: #00d8ff;}
.eye_date-a{width: 160px; margin: 16px auto !important;}
.eye_date-input{padding-left: 0 !important; background-position: 100% 6%;}
.other_vital-pop .popup-head{position: relative;}
.other_vital-pop .popup-buttons{min-height: 0; padding: 0;}
.other_vital-pop .popup-content{max-height: 400px;}
.div-100{width: 100%; display: table; padding: 0 10px}
.div-60{display: table-cell; vertical-align: middle;} 
.div-40{display: table-cell; vertical-align: middle; width: 110px; padding: 0 0 0 10px;}
.vital-symptoms-block .div-60 .form-block{width:100%;margin:0;}
.div-40 .btn-green-share{padding: 6px 12px; font-size: 16px!important; min-height: 34px; line-height: 22px;}

.div-40 .btn-t-block{margin:0;padding:0;}
.no-rec-a{margin: 20px;}
.no-order-msg{border: 1px solid #00d8ff !important; text-align: center; font-family: 'ITCKabelStdMedium'; font-weight: 500; font-size: 1.4em; color: #989898; border-radius: 5px !important;}
.t-pro{display: inline-block; width: 50%;}
.t-pro1{display: inline-block; width: 47%; text-align: right;}
.pending_request .label1{width: 100%; padding: 0; text-align: center !important;}
.pending_request .label1:after{display: none;}
.pending_request span{display: block;}
.pending_request .label1 img{position: static; width: 20px; vertical-align: middle;}
.pending_request{position: absolute; bottom: 5px; left: 0; right: 0; margin: 0 auto;}
.home-blocks{padding-bottom: 60px; position: relative;}
.ovs_time{display: block; width: 100%;}
.ovs_time .first{display: inline-block; float: left;}
.ovs_time .second{display: inline-block; float: right;}
.alternate-no-block{display: inline-block; width: 53%;}
.alternate-no-block .alt-no{margin: 10px 5px 0; position: relative; padding-left: 35px;}
.alternate-no-block .alt-no label{width: 100%;}
.alternate-no-block .nine-one_altNo{left: 0; top: 0;}
.pro_lst .list{margin-top: -10px;}
.cnt_lbl{display: inline-block; margin-top: 6px;}
.cnt_rfresh{display: inline-block; font-size: 1.5em; float: right;}




















/************************* Doctor Section CSS *******************************/

.edit_profile .b-txt2{text-align: right; padding: 0 16px 0 0; text-decoration: underline; font-size: 1.4em; margin: 20px 0 12px 0;}
.edit_profile .b-txt2 img{width: 30px; display: inline-block; vertical-align: middle; margin: -5px 0 0 10px;}
.address2_icn{background: url('../img/edit.png')no-repeat; background-size: 24px; background-position: 100%; padding-right:30px;}
.menu-icn{color: #00d8ff !important;}

.add_patient .list-block .item{padding: 10px 0 15px 14px;}
.add_patient .list-block .item .label-a{font-family: 'ITCKabelStdBook' !important; width: 31%; font-size:1.18em;}
.add_patient .list-block .item .span-a{width: 67%;}
.add_patient .list-block .item .control{font-size: 0.88em; padding-left: 30px;}
.add_patient .list-block .item .control:first-child{margin-right: 10px;}
.add_patient .from-to{font-size: 1.2em;}
.add-row1{margin: 5px 0 15px;}
.add_patient .img-list{margin: 14px -22px 0 0;}
.add_patient .img-list li{margin: 0 0 0 15px;}
.add_patient .img-list li img{width: 25px;}
.exp-div{padding: 0 0 20px 0;}
.secnd-div{margin-top: -16px;}
.date-pic-upload input::-webkit-input-placeholder {font-size: 20px;}
.date-pic-upload input[type="text"]{line-height: 25px;}
.hed-txt-ctr{text-align: center;}
.slider-sa-dr{width: 50%; margin: 0 auto; min-height: 200px; padding: 20px 0; text-align: center;}

.edit_profile .image-g, .doctorprofile-main .image-g{height: 80px;}
.edit_profile .image-g img, .doctorprofile-main .image-g img{width: 100%; height: 100%;}
.edit_profile .doc-a{width: 90%; text-align: left;}
.edit_profile .image-center, .doctorprofile-main .image-center{text-align: center;}
.doctorprofile-main .doc-a{text-align: left;}
.clinic_address > div{display: inline;}
.not-veri{text-decoration: underline;}
.veri-text{text-decoration: underline; color: #1adf1f;}
.permission-hdng-dr{font-family: 'ITCKabelStdMedium'; text-align: center; font-size: 1.2em; padding: 15px 0; font-weight: 300; color: #424242; min-height: 50px;}
.add-vital-dt{display: inline-block; width: 56%; font-size: 0.8em; text-align: right; float: right;}
.add-vital-height.item.item-input{background: none; padding: 6px 0px !important;}
.add-vital-height.item.item-input > .item.bdr3{background-image: url(../img/border-btm.png); padding: 6px; margin-bottom: 0 !important; text-align: center;}
.ft-inch-div{margin: 0 52px 10px 5%;}
.form-block.sel-view{width: 100%; margin: 0 auto;}
.date-time-div{width: 55% !important; text-align: right !important; margin-left: 2px;}
.dr_pat-per{white-space: normal; font-family: 'ITCKabelStdBook'; font-size: 1.1em; font-weight: 500;}
.dr_pat_per_span{margin-top: 8px; width: 40% !important; text-align: center !important;}
.upload-date-share{top: 35% !important; left: 6px !important; margin-left: 0px !important; opacity: 1 !important; width: 200px;}
.vs_bp{display: block; width: 100%;}
.vs_lbl{display: inline-block; width: 44%;}
.gender_dr{padding: 10px; text-align: center;}
.txt_dec{text-decoration: underline;}
.pat_per_fwd{float: right; font-size: 18px;}
.allergy-list.e_pres_list .item{border-bottom: 1px solid #ddd;}
.allergy-list.e_pres_list .item:last-child{border-bottom: 0;}
.add-patient2 .form-block{margin: 0 auto; padding: 2em 0;}
.provider .share-block{text-align: right;}
.provider .share-block a{margin-right: 5px;}
.cus-date-patList{top: 28% !important; left: 66px !important; margin-left: 0px !important; opacity: 1 !important; width: 200px;}
.cus-date-patList .popover-arrow{left: 40% !important;}
.cus_date_patTimeline{top: 36% !important; left: 6px !important; margin-left: 0px !important; opacity: 1 !important; width: 200px;}
.cus_date_patTimeline .popover-arrow{left: 40% !important;}
.upload-date-share .popover-arrow{left: 40% !important;}
.daterng-docList{top:18% !important; left:6px !important; margin-left:0px !important; opacity:1 !important; width: 200px;}
.daterng-docList .popover-arrow{left: 40% !important;}
.test_rec .list{margin-top: 5px;}
.name_lbl{text-transform: capitalize;}
.no_rec_txt{margin-top: 3px;}



.zoom-pane {
    width: 100% !important;
    height: 100% !important;
}

.zoom-pane .scroll {
    min-height: 100% !important;
     
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.zoom-pane img {
    width: 100% !important;
    vertical-align: middle !important;
}

.make_text_doted{overflow: hidden; text-overflow: ellipsis;}
/*.bar .title{margin: 0 35px !important;}*/
.wrp_title{margin-left: 35px!important; margin-right: 30px!important;}





















